<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <!-- <meta http-equiv="Content-Type" content="text/html" /> -->
    <meta name="keyword" content="HTML, CSS, image, navigation"/>
    <meta name="referrer" content="no-referrer"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>MutekiGamer - Post</title>
    <base th:href="@{/}">
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <link rel="stylesheet" type="text/css" href="css/bbspost.css"/>
    <link rel="stylesheet" type="text/css" href="css/bbspost2.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js">  </script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-lite.css" rel="stylesheet">
    <!-- 楼中楼是静态的，删除的话删下面的这个postreply.js -->

    <script type="text/javascript" th:src="@{/js/template-web.js}"></script>
    <!--<script type="text/javascript" th:src="@{/js/postreply.js}"></script>-->
    <script type="text/javascript" th:src="@{/js/Homepage.js}"></script>
    <script type="text/javascript" th:src="@{/js/PostDetail.js}"></script>
</head>
<body>
<!--nav-->
<div class="barContainer" style="background-color: white;">
    <div class="nav-content" style="position: relative;">
        <div class="nav-title">
                <span>
                    <img src="https://static.dingtalk.com/media/lALPDgQ9rZl6KXPNAljNB0Q_1860_600.png?auth_bizType=IM&auth_bizEntity=%7B%22cid%22%3A%228737273277%22%2C%22msgId%22%3A%222028145409841%22%7D&bizType=im&open_id=267508618"
                         alt="MutekiGamer logo">
                </span>
        </div>
        <div class="nav-text">
            <span style="float: left"><a href="HomePage">主页</a></span>
            <span style="float: left"><a href="/homepage/community">社区</a></span>
            <span style="float: left"><a href="/homepage/news">头条</a></span>
            <span style="float: left"><a href="/homepage/battle">战场</a></span>
            <!--<span style="float: right"><a href="/homepage/my">我</a></span>-->
            <!--<span class="user">-->
                    <!--<a href="login">Login</a>-->
                <!--</span>-->
            <div class="dropdown" style="float: right;margin: 5px 30px;">
                <a href="/homepage/my">
                    <!--下面的img插用户头像-->
                    <img src="https://static.dingtalk.com/media/lADPDgQ9rbqFW6nNAQLNAQM_259_258.jpg_620x10000q90g.jpg?auth_bizType=IM&auth_bizEntity=%7B%22cid%22%3A%228737273277%22%2C%22msgId%22%3A%222062145382217%22%7D&bizType=im&open_id=267508618" style="width: 50px;height: 50px;border-radius: 50%;">
                </a>
                <a class="dropdown-toggle"  data-toggle="dropdown" style="text-decoration: none;">
                </a>
                <div class="dropdown-menu" >
                    <!--两个跳转-->
                    <a class="dropdown-item" href="#">修改信息</a>
                    <a class="dropdown-item" href="#">退出</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 面包屑导航 -->
<div class="container" style="margin-top: 20px;">
    <div class="row">
        <nav class="breadcrumb col-md-12 breadnav" style="background-color: white;opacity: 0.6">
            <a class="breadcrumb-item" href="#"><img src="img/home.png" style="width:16px;height: auto; "> 论坛主页</a>
            <a class="breadcrumb-item" href="#">游戏</a>
            <a class="breadcrumb-item" href="#">英雄联盟</a>
            <a class="breadcrumb-item active">攻略</a>
        </nav>
    </div>
</div>

<!-- 帖子内容and楼主信息 -->
<div class="container">
    <div class="row">
        <div class="col-md-8 postbg">
            <div class="posttitle" style="color: #555;font-size: 25px;">
                <div id="title"></div>
                <!--<h1>电刑打野盲僧玩法技巧分享 电刑打野盲僧装备选择说明</h1>-->
                <!--<div style="font-weight: 500;">2020/1/6 11:11</div>-->
            </div>
            <hr>
            <div class="postdetail">
                <div  id="detail"></div>
            </div>

        </div>
        <div class="col-md-4" style="padding: 0;">
            <div class="author">
                <p style="text-align: left;padding-left: 30px;"><img src="img/pencil.png"
                                                                     style="width: 15px;height: 15px;"> 楼主</p>
                <a href="">
                    <div id="userinfo"></div>
                    <!--<img src="https://static.dingtalk.com/media/lADPDgQ9rbqFW6nNAQLNAQM_259_258.jpg_620x10000q90g.jpg?auth_bizType=IM&auth_bizEntity=%7B%22cid%22%3A%228737273277%22%2C%22msgId%22%3A%222062145382217%22%7D&bizType=im&open_id=267508618">-->
                    <!--<p style="margin-top: 15px;">莫甘娜</p>-->
                </a>
                <!--<ul>-->
                <!--<li>帖子:5</li>-->
                <!--<li>粉丝:55</li>-->
                <!--<li>关注:555</li>-->
                <!--</ul>-->
                <div id="ttpost_act" class="postbig">
                    <a href="" class="fatie">发新帖</a>
                    <a href="javascript:void(0);" class="huifu">回复</a>
                </div>
                <script type="text/javascript">
                    (function () {
                        var postAct = document.getElementById("ttpost_act");
                        postAct.setAttribute("style", "display:none;");
                        var postActTop = postAct.offsetTop;
                        document.onscroll = function () {
                            var docTop = document.body.scrollTop | document.documentElement.scrollTop;
                            if (postActTop < docTop) {
                                postAct.setAttribute("style", "width:290px;display:block;position:fixed;background:#fff; top:0px; z-index:300;padding:20px;box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);");
                            } else {
                                postAct.setAttribute("style", "display:none;");
                            }
                        }
                    })()
                    q_jq('#ttpost_act .huifu').on('click', function () {
                        q_jq("html,body").animate({
                            scrollTop: q_jq("#f_pst").offset().top
                        }, 500);
                        q_jq("#f_pst").find("textarea").focus();
                    });
                </script>
            </div>
            <div style="height: 65px;width: 150px; margin-top:20px; margin-left: 130px;border-radius:5px; background-color: rgba(255,255,255,0.8);">
                <ul  style="text-align: center;padding-top: 15px;padding-left: 22px;">

                    <li><a  href="javascript:window.open('http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?title='+encodeURIComponent(document.title.substring(0,76))+'&amp;url='+encodeURIComponent(location.href)+'&amp;rcontent=','_blank','scrollbars=no,width=600,height=450,left=75,top=20,status=no,resizable=yes'); void 0;"><img src="https://www.easyicon.net/api/resizeApi.php?id=1193405&size=128"    style="width:38px; height:35px;float: left;"></a></li>

                    <li><a  href="javascript:window.open('http://v.t.sina.com.cn/share/share.php?title='+encodeURIComponent(document.title.substring(0,76))+'&amp;url='+encodeURIComponent(location.href)+'&amp;rcontent=','_blank','scrollbars=no,width=600,height=450,left=75,top=20,status=no,resizable=yes'); void 0"><img src="https://www.easyicon.net/api/resizeApi.php?id=1193419&size=128"    style="width:38px; height:35px; "></a></li>

                </ul>



            </div>




        </div>
    </div>
</div>




<!-- 回复框 -->
<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col-md-8 postbg" style="padding: 25px;">
            <p style="text-align: left;;"><img src="img/pencil.png"
                                               style="width: 15px;height: 15px;margin-right: 10px;">回复</p>
            <form>
                <textarea class="form-control" rows="4" id=""></textarea>
                <!-- <div id="summernote"></div>
                 <script>
                 $('#summernote').summernote({
                     placeholder: '在这里回复',
                     tabsize: 2,
                     height: 150
                 });
                 </script> -->
                <button type="submit" class="btn btn-outline-info" style="margin-top: 20px;float: right;">发表回复</button>
            </form>
        </div>
    </div>
</div>

<!-- 回复列表 -->
<div class="container" style="margin-top: 50px;margin-bottom: 50px;">
    <div class="row">
        <div class="col-md-8 postbg">
            <div style="color: #555;">
                <p>最新评论</p>
            </div>
            <hr>
            <div class="responselist">
                <!--回复列表-->
                <div id="response"></div>
                <!--<ul id="pn">-->
                    <!--&lt;!&ndash; 有楼中楼回复 &ndash;&gt;-->
                    <!--<li class="list0">-->
                        <!--<div class="head">-->
                            <!--<img src="https://static.dingtalk.com/media/lADPDgQ9rbqm0UjNARLNARM_275_274.jpg_620x10000q90g.jpg?auth_bizType=IM&auth_bizEntity=%7B%22cid%22%3A%228737273277%22%2C%22msgId%22%3A%222052257905687%22%7D&bizType=im&open_id=267508618"-->
                                 <!--alt="">-->
                        <!--</div>-->
                        <!--<div class="content">-->
                            <!--<p class="text"><span class="name">卡尔玛：</span>哈哈哈哈哈</p>-->
                            <!--<div class="good">-->
                                <!--<span class="date">01-06 23:01</span>-->
                                <!--<a class="dzan" href="javascript:;">赞</a>-->
                            <!--</div>-->
                            <!--<div class="people" total="298">298人觉得很赞</div>-->
                            <!--<div class="comment-list">-->
                                <!--<div class="comment" user="self">-->
                                    <!--<div class="comment-left">-->
                                        <!--<img src="https://static.dingtalk.com/media/lADPDgQ9rbqFW6nNAQLNAQM_259_258.jpg_620x10000q90g.jpg?auth_bizType=IM&auth_bizEntity=%7B%22cid%22%3A%228737273277%22%2C%22msgId%22%3A%222062145382217%22%7D&bizType=im&open_id=267508618"-->
                                             <!--alt="">-->
                                    <!--</div>-->
                                    <!--<div class="comment-right">-->
                                        <!--<div class="comment-text">-->
                                            <!--<span class="user">老王：</span>-->
                                            <!--可-->
                                        <!--</div>-->
                                        <!--<div class="comment-date">-->
                                            <!--01-06 24:00-->
                                            <!--<a class="comment-zan" href="javascript:;" total="23" my="1">23 取消赞</a>-->
                                            <!--<a class="comment-dele" href="javascript:;">回复</a>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="comment" user="self">-->
                                    <!--<div class="comment-left">-->
                                        <!--<img src="https://static.dingtalk.com/media/lADPDgQ9rbqFW6nNAQLNAQM_259_258.jpg_620x10000q90g.jpg?auth_bizType=IM&auth_bizEntity=%7B%22cid%22%3A%228737273277%22%2C%22msgId%22%3A%222062145382217%22%7D&bizType=im&open_id=267508618"-->
                                             <!--alt="">-->
                                    <!--</div>-->
                                    <!--<div class="comment-right">-->
                                        <!--<div class="comment-text">-->
                                            <!--<span class="user">我：</span>看哭了留卡号吧-->
                                        <!--</div>-->
                                        <!--<div class="comment-date">01-07 14:00-->
                                            <!--<a class="comment-zan" href="javascript:;" total="0" my="0">赞</a>-->
                                            <!--<a class="comment-dele" href="javascript:;">删除</a>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="hf">-->
                                <!--<textarea type="text" class="hf-text" autocomplete="off" maxlength="100">评论…</textarea>-->
                                <!--<button class="hf-btn">回复</button>-->
                                <!--<span class="hf-nub">0/100</span></div>-->
                        <!--</div>-->
                    <!--</li>-->

                    <!--&lt;!&ndash; 简单的仅有回复 &ndash;&gt;-->
                    <!--&lt;!&ndash; <li>-->
                        <!--<div style="height: auto;">-->
                            <!--<a href="">-->
                            <!--<img src="https://static.dingtalk.com/media/lADPDgQ9rbqm0UjNARLNARM_275_274.jpg_620x10000q90g.jpg?auth_bizType=IM&auth_bizEntity=%7B%22cid%22%3A%228737273277%22%2C%22msgId%22%3A%222052257905687%22%7D&bizType=im&open_id=267508618" style="float: left;">-->
                            <!--<p style="float: left;">卡尔玛</p>-->
                            <!--</a>-->
                            <!--<em>2020/1/6 15:15</em>-->
                        <!--</div>-->
                        <!--<div class="responsedetail">-->
                            <!--<div id="">-->
                                <!--可-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<hr>-->
                    <!--</li> &ndash;&gt;-->
                <!--</ul>-->
            </div>
        </div>
    </div>
</div>


<!-- 回到顶部 -->
<!--<div class="topbtn">-->
    <!--<a class="btn btn-default" href="#" role="button">-->
        <!--<img src="img/top.png">-->
    <!--</a>-->
<!--</div>-->
<!--帖子模板-->
<script id="title1" type="text/html">
<ul>
    {{each data}}
    <li>
        {{$value.title}}
    </li>
    {{/each}}
</ul>
</script>
<script id="content" type="text/html">
<ul>
    {{each data}}
    <li>
        {{$value.content}}
        {{$value.time}}
    </li>
    {{/each}}
</ul>
</script>

<!--发帖人信息模板-->
<script id="userinfo1" type="text/html">
    <div>{{userName}}</div>
    <img src="{{userAvatar}}">
    <div style="margin-top: 40px;">粉丝数：{{followerNum}}&nbsp&nbsp&nbsp关注数:{{followingNum}}&nbsp&nbsp&nbsp帖子数：{{postLength}}</div>
<!--    <div>关注数:{{followingNum}}</div>-->
<!--    <div>帖子数：{{postLength}}</div>-->
</script>
<!--帖子回复模板-->
<script id="response1" type="text/html">
<ul>
    {{each data}}
    <li>
        <div>
            {{$value.content}}
        </div>
    </li>
    {{/each}}
</ul>
</script>

<!--信息请求-->
<script>
    postDetail(function (result) {
        var userId=result.result.data[0].userId;
        var postId=result.result.data[0].postId;
        var html = template('title1', result.result);
        // console.log(html);
        document.getElementById('title').innerHTML = html;

        var htmls = template('content', result.result);
        // console.log(htmls);
        document.getElementById('detail').innerHTML = htmls;

        postUserInfo(userId,function (result) {
            // console.log(result);
            var html = template('userinfo1', result.data);
            // console.log(html);
            document.getElementById('userinfo').innerHTML = html;
        })
        getResponse(postId,function (result) {
            console.log(result);
            var html = template('response1', result);
            console.log(html);
            document.getElementById('response').innerHTML = html;
        })
    })
</script>

<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

<footer style="position: relative;height: 60px;background-color:#5E5E5E; color:  #EAEAEA;overflow: hidden;">
    <div style="height:50px;width: 180px;margin-left: 30%;float: left;">
        <img src="https://static.dingtalk.com/media/lALPDgQ9rZmS1SDNAcLNB0Q_1860_450.png?auth_bizType=IM&auth_bizEntity=%7B%22cid%22%3A%228737273277%22%2C%22msgId%22%3A%222028305227287%22%7D&bizType=im&open_id=267508618">
    </div>
    <div style="float: left; padding-top: 25px;padding-left: 80px;">
        <p style="float: left;font-weight: 200;font-size: 14px;">@MutekiGamer 2020</p>
        <p style="float: left;margin-left: 70px;font-weight: 200;font-size: 14px;">联系我们:&nbsp&nbspmuteki_gamer@163.com</p>
    </div>
</footer>
</body>
</html>