<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8" />
    <!-- <meta http-equiv="Content-Type" content="text/html" /> -->
    <meta name="keyword" content="HTML, CSS, image, navigation" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MutekiGamer - Reset PW</title>
    <link rel="stylesheet" type="text/css" href="./static/css/index.css" />
    <link rel="stylesheet" type="text/css" href="./static/css/register.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js">  </script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
<!-- Navigation Bar -->
<div class="barContainer">
    <div class="nav-content" >
        <div class="nav-title">
                <span>
                    <img src="https://static.dingtalk.com/media/lALPDgQ9rZl6KXPNAljNB0Q_1860_600.png?auth_bizType=IM&auth_bizEntity=%7B%22cid%22%3A%228737273277%22%2C%22msgId%22%3A%222028145409841%22%7D&bizType=im&open_id=267508618" alt="MutekiGamer logo">
                </span>
        </div>
        <div class="nav-text">
            <span style="float: left"><a href="HomePage.html">主页</a></span>
            <span style="float: left"><a href="/homepage/community">社区</a></span>
            <span style="float: left"><a href="/homepage/news">头条</a></span>
            <span style="float: left"><a href="/homepage/battle">战场</a></span>
            <span style="float: right"><a href="my.html">我</a></span>
            <span class="user">
                    <a href="login">Login</a>
                </span>
        </div>
    </div>
</div>
<div class="clear"></div>
<!--video-->
<div>
    <video autoplay loop muted style="width: 100%;height: auto;">
        <source src="https://cms.cnc.blzstatic.cn/cms/gallery/s1/S199GBA7HG581572581461800.mp4" type="video/mp4">
    </video>
</div>
<!-- body -->
<div class="main-body">
    <div class="logContext">
        <div class="reg">
            <h1>Reset Your Password</h1>
            <div class="input-form">
                <form action="/doresetpw" method="post">
                    <b class="element">E-mail</b>
                    <div></div>
                    <input class="element" type="email" id="email" placeholder="邮箱" required name="email">
                    <hr>
                    <div></div>
                    <b class="element">Password</b>
                    <div></div>
                    <input class="pw" type="password" id="password" placeholder=" 新密码" name="password" required value="">
                    <hr>
                    <div></div>
                    <b class="element">Repeat Password</b>
                    <div></div>
                    <input class="pw" type="password" id="password_check" placeholder=" 确认新密码" required  name="password_check" onblur="check()">
                    <hr>
                    <div></div>

                    <input class="reg-button" type="submit" value="确认" id="button">
                    <div><span id="warning"></span></div>

                </form>
            </div>
        </div>
        <div class="division">

        </div>
        <div class="login">
            <h1>Changed Your Mind?</h1>
            <a href="login.html">
                <button>LOGIN NOW</button>
            </a>
        </div>
    </div>
</div>

<!-- footer -->
<!-- footer -->
<footer style="position: relative;height: 60px;background-color:#5E5E5E; color:  #EAEAEA;overflow: hidden;">
    <div style="height:50px;width: 180px;margin-left: 30%;float: left;">
        <img src="https://static.dingtalk.com/media/lALPDgQ9rZmS1SDNAcLNB0Q_1860_450.png?auth_bizType=IM&auth_bizEntity=%7B%22cid%22%3A%228737273277%22%2C%22msgId%22%3A%222028305227287%22%7D&bizType=im&open_id=267508618">
    </div>
    <div style="float: left; padding-top: 25px;padding-left: 80px;">
        <p style="float: left;font-weight: 200;font-size: 14px;">@MutekiGamer 2020</p>
        <p style="float: left;margin-left: 70px;font-weight: 200;font-size: 14px;">联系我们:&nbsp&nbspmuteki_gamer@163.com</p>
    </div>
</footer>
</body>
</html>
