<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="referrer" content="no-referrer"/>
    <!-- <meta http-equiv="Content-Type" content="text/html" /> -->
    <meta name="keyword" content="HTML, CSS, image, navigation"/>
    <title>Muteki_gamer - Community</title>
    <base th:href="@{/}">
    <link rel="stylesheet" type="text/css" href="./static/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="./static/css/BBS.css"/>
    <link rel="stylesheet" type="text/css" href="./static/css/HomePage.css"/>
    <link rel="stylesheet" type="text/css" href="./static/css/bbspost.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/template-web.js}"></script>
    <script type="text/javascript" th:src="@{/js/Homepage.js}"></script>
    <script type="text/javascript" th:src="@{/js/Default.js}"></script>
    <script type="text/javascript" th:src="@{/js/User.js}"></script>
    <style>
        /*.main-content .contextFrame li span:visited{*/
        /*    background-color:blue;*/
        /*}*/
        .main-content .contextFrame img:hover{
            background-color:darkgrey;
            border-radius: 50%;
            transition:all .4s;
            transform:scale(1.2);
        }

        .main-content .contextFrame img:active{
            background-color:grey;
            border-radius: 50%;
            transition:all .4s;
            transform:scale(1.2);
        }
        .main-content .contextFrame span{
            overflow: hidden;
        }
        .main-content .contextFrame img{
            transition:all 0.4s;
        }

    </style>
</head>
<body>
<!-- Navigation Bar-->
<div class="barContainer">
    <div class="nav-content">
        <div class="nav-title">
                <span>
                    <img src="https://static.dingtalk.com/media/lALPDgQ9rZl6KXPNAljNB0Q_1860_600.png?auth_bizType=IM&auth_bizEntity=%7B%22cid%22%3A%228737273277%22%2C%22msgId%22%3A%222028145409841%22%7D&bizType=im&open_id=267508618"
                         alt="MutekiGamer logo">
                </span>
        </div>
        <div class="nav-text">
            <span style="float: left"><a href="HomePage">主页</a></span>
            <span class="active" style="float: left"><a href="/homepage/community" style="color: #dadada">社区</a></span>
            <span style="float: left"><a href="/homepage/news">头条</a></span>
            <span style="float: left"><a href="/homepage/battle">战场</a></span>
            <div class="dropdown" style="float: right;margin: 5px 30px;">
                <a href="/homepage/my" id="user_avatar_container">
                    <!--下面的img插用户头像-->
                </a>
                <a class="dropdown-toggle"  data-toggle="dropdown" style="text-decoration: none;">
                </a>
                <div class="dropdown-menu" >
                    <!--两个跳转-->
                    <a class="dropdown-item" href="/homepage/alter_userinfo">修改信息</a>
                    <a class="dropdown-item" href="#">退出</a>
                </div>
            </div>
            <!--<span style="float: right"><a href="/homepage/my">我</a></span>-->
            <!--<span class="user">-->
                    <!--<a href="login">Login</a>-->
                <!--</span>-->
        </div>
    </div>
</div>
<div class="main-body" style="margin-top: 0px;padding-top: 0px;">
    <div style="padding-left: 10%;opacity: 0.8;">
        <div id="demo" class="carousel slide" data-ride="carousel" style="width: 90%;height: 90%;">
            <!-- 指示符 -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>

            <!-- 轮播图片 -->
            <div class="carousel-inner">
                <!-- <a href=" "> -->
                <div class="carousel-item active">
                    <a href="https://ow.blizzard.cn/home"><img src="https://upload-images.jianshu.io/upload_images/20804610-a0d129783b4b007d.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240"></a>
                </div>
                <!--  </a> -->
                <div class="carousel-item">
                    <a href="https://hs.blizzard.cn/landing"><img src="https://upload-images.jianshu.io/upload_images/20804610-441123370fdff572.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240"></a>
                </div>
                <div class="carousel-item">
                    <a href="https://www.wowchina.com/zh-cn/"><img src="https://upload-images.jianshu.io/upload_images/20804610-e87190ca831a74a6.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240"></a>
                </div>
            </div>

            <!-- 左右切换按钮 -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>

    <div class="main-content">
        <div class="col-md-4" style="padding: 0;width: 25%;float: right;margin-right: 10%;">
            <div class="author" id="user_info_container" >

            </div>

        </div>
        <div class="contextFrame" style="height: 70px; width: 55%; margin-left: 10%; background: rgba(244,244,244,0.8);">
            <!--用户关注的游戏-->
            <!--            整个的div的float设置的是整个头像块的float位置-->
            <div id="games" style="float: left; width: 100%; height: 70px;">
            </div>
        </div>

        <div class="contextFrame" style=" height: auto; width: 55%; margin-left: 10%;background: rgba(244,244,244,0.8);">
<!--            <a href="/homepage/post" type="buttom" class="btn btn-light" style="float: right; margin-right:5%;margin-top: 20px;">发帖</a>-->
            <div class="innerFrame" style="width: 94%; margin-left:3%;">
                <div class="textList" style="border-color: gray;">
<!--                    <h1>post!!!!</h1>-->
                <!--游戏对应的帖子-->
                    <div id="game_posts" >
                    <!--进入community 页面时默认显示的内容-->
                        <div id="defult"></div>
                    </div>
                </div>
                <div class="clearfloat"></div>
            </div>
            <div class="clearfloat"></div>
        </div>
        <div class="clearfloat"></div>
        <div class="division"></div>
        <div class="division"></div>
        <div class="division"></div>
    </div>
    <div class="clearfloat"></div>
</div>
<!--渲染游戏图标-->
<script id="game" type="text/html">
    <ul style="height: 70px; width: 100%;">
        {{each data}}
        <li style="width: 70px; height: 70px; float: left; margin-left: 5%;">
            <span  style="width: 100%; display: block; height: 100%;">
                <a style="float: left; border: none;" class="game active" id="{{$value.gameId}}">
                <img src="{{$value.picture}}" style="width: 56px; height: 56px; list-style: none; margin: 10%; cursor:pointer;">
                </a>
            </span>
        </li>
        {{/each}}
    </ul>
</script>
<!--渲染游戏相应帖子-->
<script id="game_post" type="text/html">

    <ul>
        {{each data}}
        <li style="padding: 10px 10px;border-bottom-color: gray;">
            <!--发帖人头像-->
            <div style="float:left;"><img src="{{$value.userAvatar}}" style="width: 50px;height: 50px"></div>
            <!--发帖人昵称-->
            <div style="float:left;width: 14%; font-weight: lighter; font-size: 14px; color:#EC7259;margin-left: 1%;">{{$value.userName}}</div>
            <!--帖子时间-->
            <div style="float: right; width:10%; margin-left: 5%;font-weight: lighter;font-size: 14px;color:#555;">{{$value.time}}</div>
            <!--帖子标题-->
            <a href="/homepage/bbspost/{{$value.postId}}"><div style="float: left; width: 90%; color: #555;margin-left: 1%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{$value.title}}</div></a>
            <!--帖子内容-->
            <div style="font-weight: lighter; overflow: hidden; height: 24px; white-space: nowrap; text-overflow: ellipsis; margin-bottom: 10px;width: 90%; margin-top: 5%;margin-left: 6%;">{{$value.content}}</div>
        </li>
        {{/each}}
    </ul>
</script>

<script>
    var games = {};
    homepage(function (result) {
        games = result.game;
        var html = template('game', games);
        console.log(html);
        document.getElementById('games').innerHTML = html;
        //ready()
        console.log($(".game"));

        defultDisplay(function (result) {
            var posts=result.post;
            console.log(posts);
            var html = template('game_post', posts);
            console.log(html);
            document.getElementById('game_posts').innerHTML = html;
        });

        $(".game").click(function () {
            let val = $(this).attr("id");
            getPostByGameId(val, function (result) {
                let p = result.post;
                console.log(p);
                let empty=$.isEmptyObject(p);
                if(empty!=true) {
                    var html = template('game_post', p);
                    console.log(html);
                    document.getElementById('game_posts').innerHTML = html;
                }
                })
            })
        });

    getUserInfo(function(result){
        let userInfo = result.data;
        $("#user_avatar_container").html(" <!--下面的img插用户头像-->\n" +
            "                    <img src=\""+userInfo.userAvatar+"\" style=\"width: 50px;height: 50px;border-radius: 50%;\">\n");
        $("#user_info_container").html(" <p style=\"text-align: left;padding-left: 30px;\"><img src=\"img/pencil.png\" style=\"width: 15px;height: 15px;\"> 我</p>\n" +
            "                <a href=\"\">\n" +
            "                <img src=\""+userInfo.userAvatar+"\">\n" +
            "                <p style=\"margin-top: 15px;\">"+userInfo.userName+"</p>\n" +
            "                </a>\n" +
            "                <ul>\n" +
            "                <li>帖子:"+userInfo.postLength+"</li>\n" +
            "                <li>粉丝:"+userInfo.followerNum+"</li>\n" +
            "                <li>关注:"+userInfo.followingNum+"</li>\n" +
            "                </ul>\n" +
            "                <div style=\"margin-top: 30px;margin-bottom: 0px;\">\n" +
            "                    <a href=\"/homepage/post\" type=\"button\" class=\"btn btn-info\" style=\"color:white; width: 100%;\">发帖</a>\n" +
            "                </div>")
    });


</script>
<footer style="position: relative;height: 60px;background-color:#5E5E5E; color:  #EAEAEA;overflow: hidden;">
    <div style="height:50px;width: 180px;margin-left: 30%;float: left;">
        <img src="https://static.dingtalk.com/media/lALPDgQ9rZmS1SDNAcLNB0Q_1860_450.png?auth_bizType=IM&auth_bizEntity=%7B%22cid%22%3A%228737273277%22%2C%22msgId%22%3A%222028305227287%22%7D&bizType=im&open_id=267508618">
    </div>
    <div style="float: left; padding-top: 25px;padding-left: 80px;">
        <p style="float: left;font-weight: 200;font-size: 14px;">@MutekiGamer 2020</p>
        <p style="float: left;margin-left: 70px;font-weight: 200;font-size: 14px;">联系我们:&nbsp&nbspmuteki_gamer@163.com</p>
    </div>
</footer>

<script type="text/javascript">
    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {
            slideIndex = 1
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlides, 2000); // Change image every 2 seconds
    }

</script>


</body>
</html>
