<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>community</title>
</head>
<body>
<div class="nav-title">
                <span>
                    <img src="./static/img/logo-new.png" alt="VULCAN logo">
                </span>
</div>
<div class="nav-text">
    <span style="float: left"><a href="HomePage1">主页</a></span>
    <span style="float: left"><a href="community">社区</a></span>
    <span style="float: left"><a href="news">头条</a></span>
    <span style="float: left"><a href="battle">战场</a></span>
    <span style="float:right"><a href="my">我</a></span>
    <span class="user">
                    <a href="login">Login</a>
                </span>
</div>
社区！！！！
</body>
</html>