<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <!-- <meta http-equiv="Content-Type" content="text/html" /> -->
    <meta name="keyword" content="HTML, CSS, image, navigation" />
    <title>VULCAN! - HomePage</title>
    <base th:href="@{/}">
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="stylesheet" type="text/css" href="css/BBS.css" />
    <link rel="stylesheet" type="text/css" href="css/HomePage.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js">  </script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/template-web.js}"></script>
    <script type="text/javascript" th:src="@{/js/Homepage.js}"></script>

</head>
<body>
<!-- Navigation Bar-->
<div class="barContainer">
    <div class="nav-content" >
        <div class="nav-title">
                <span>
                    <img src="https://static.dingtalk.com/media/lALPDgQ9rZl6KXPNAljNB0Q_1860_600.png?auth_bizType=IM&auth_bizEntity=%7B%22cid%22%3A%228737273277%22%2C%22msgId%22%3A%222028145409841%22%7D&bizType=im&open_id=267508618" alt="MutekiGamer logo">
                </span>
        </div>
        <div class="nav-text">
            <span style="float: left"><a href="HomePage">主页</a></span>
            <span style="float: left"><a href="/homepage/community">社区</a></span>
            <span style="float: left"><a href="/homepage/news">头条</a></span>
            <span style="float: left"><a href="/homepage/battle">战场</a></span>
            <span style="float: right"><a href="/homepage/my">我</a></span>
            <span class="user">
                    <a href="login">Login</a>
                </span>
        </div>
    </div>
</div>
<div class="main-body" style="margin-top: 0px;padding-top: 0px;">
    <div style="padding-left: 10%;opacity: 0.8;" >
        <div id="demo" class="carousel slide" data-ride="carousel" style="width: 90%;height: 90%;">
            <!-- 指示符 -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>

            <!-- 轮播图片 -->
            <div class="carousel-inner">
                <!-- <a href=" "> -->
                <div class="carousel-item active">
                    <img src="https://static.dingtalk.com/media/lALPDgQ9raEHz7bMy80DJQ_805_203.png?auth_bizType=IM&auth_bizEntity=%7B%22cid%22%3A%228737273277%22%2C%22msgId%22%3A%222029248153781%22%7D&bizType=im&open_id=267544667">
                </div>
                <!--  </a> -->
                <div class="carousel-item">
                    <img src="https://static.dingtalk.com/media/lALPDgQ9raEHz7DMkM0COQ_569_144.png_620x10000q90g.jpg?auth_bizType=IM&auth_bizEntity=%7B%22cid%22%3A%228737273277%22%2C%22msgId%22%3A%222029248153460%22%7D&bizType=im&open_id=267544667">
                </div>
                <div class="carousel-item">
                    <img src="https://static.dingtalk.com/media/lALPDgQ9raEHz7jMy80DJQ_805_203.png_620x10000q90g.jpg?auth_bizType=IM&auth_bizEntity=%7B%22cid%22%3A%228737273277%22%2C%22msgId%22%3A%222035921406135%22%7D&bizType=im&open_id=267544667">
                </div>
            </div>

            <!-- 左右切换按钮 -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>

    <div class="main-content">
        <div class="contextFrame" style="padding-left;">
                <span>
                    <img src="https://blznav.akamaized.net/img/games/logo-ow-4be5755bc0a4cbaf.png" style="width: 80px;height: 80px;margin-left: 6.5%;">
                </span>
            <span>
                    <img src="https://blznav.akamaized.net/img/games/logo-wow-3dd2cfe06df74407.png" style="width: 80px;height: 80px;margin-left: 6%;">
                </span>
            <span>
                    <img src="https://blznav.akamaized.net/img/games/logo-hs-93512467e87f82c6.png" style="width: 80px;height: 80px;margin-left: 6%;">
                </span>
            <span>
                    <img src="https://blznav.akamaized.net/img/games/logo-heroes-78cae505b7a524fb.png" style="width: 80px;height: 80px;margin-left: 6%;">
                </span>
            <span>
                    <img src="https://blznav.akamaized.net/img/games/logo-w3r-c8a76eea272dbd55.png" style="width: 80px;height: 80px;margin-left: 6%;">
                </span>
            <span>
                    <img src="https://blznav.akamaized.net/img/games/logo-di-01f9ac836ec31eed.png" style="width: 80px;height: 80px;margin-left: 6%;">
                </span>
            <span>
                    <img src="https://blznav.akamaized.net/img/games/logo-sc2-6e33583ba0547b6a.png" style="width: 80px;height: 80px;margin-left: 6%;">
                </span>
        </div>
        <div class="attention">
            <div class="attentionFrame" style="padding-left; padding-top: 10px">
                <button>
                    <a href="https://ow.blizzard.cn/home">
                        <button class="attention-button" style="margin-left:6%;  " >
                            已关注</button>
                    </a>
                    <a href="https://www.wowchina.com/zh-cn/">
                        <button class="attention-button" style="margin-left:6%; background-color: #FF4500;">
                            关注Ta</button>
                    </a>
                    <a href="https://hs.blizzard.cn/landing">
                        <button class="attention-button" style="margin-left:6%; ">
                            已关注</button>
                    </a>
                    <a href="https://heroes.blizzard.cn/landing">
                        <button class="attention-button" style="margin-left:6%; background-color: #FF4500;">
                            关注Ta</button>
                    </a>
                    <a href="">
                        <button class="attention-button" style="margin-left: 6%; ">
                            已关注</button>
                    </a>
                    <a>
                        <button class="attention-button" style="margin-left:6%; background-color: #FF4500;">
                            关注Ta</button>
                    </a>
                    <a>
                        <button class="attention-button" style="margin-left:6%; background-color: #FF4500;">
                            关注Ta</button>
                    </a>
                </button>
            </div>
        </div>
        <div class="contextFrame">
            <div class="innerFrame">
                <div class="left">
                    <div class="textList">
                        <ul>
                            <li class="listTitle"><h1>英雄联盟</h1></li>
                            <li><a href="ReadPost_1.html">【盘点】英雄联盟LOL召唤师头像（国服）300*300</a><br>&nbsp;&nbsp;Riot&nbsp;&nbsp;1小时前<p style="float:right; margin-right: 0px; ">5517</p><img src="img/look.png" style=" float: right; height: 20px; width: 30px; "></li>
                            <li><a href="ReadPost_2.html">【皮肤鉴赏】神秘的永恒之森系列--魔腾、维嘉、阿狸</a><br>&nbsp;&nbsp;&nbsp;Alen&nbsp;&nbsp;2小时前<p style="float:right; margin-right: 0px; ">1764</p><img src="img/look.png" style=" float: right; height: 20px; width: 30px; "></li>
                        </ul>
                    </div>
                </div>
                <div class="right">
                    <div class="textList">
                        <ul>
                            <li class="listTitle"><h1>魔兽世界</h1></li>
                            <li><a href="ReadPost_3.html">【活动】【投票】魔兽世界：怀旧服最适合什么职业？</a><br>&nbsp;&nbsp;Riot&nbsp;&nbsp;1小时前<p style="float:right; margin-right: 0px; ">8549</p><img src="img/look.png" style=" float: right; height: 20px; width: 30px; "></li>
                            <li><a href="ReadPost_4.html">【更新】12月12日全服同步开启战歌峡谷和奥特兰特峡谷！</a><br>&nbsp;&nbsp;Riot&nbsp;&nbsp;1小时前<p style="float:right; margin-right: 0px; ">3892</p><img src="img/look.png" style=" float: right; height: 20px; width: 30px; "></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="division"></div>
        <div class="division"></div>
        <div class="division"></div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="footer_title">Product</h3>
                <ul class="footer_list">
                    <li>Integrations</li>
                    <li>Slack Bot</li>
                    <li>Customers</li>
                    <li>Case Studies</li>
                    <li>Pricing</li>
                </ul>
            </div>
            <div class="col">
                <h3 class="footer_title">Company</h3>
                <ul class="footer_list">
                    <li>About</li>
                    <li>Blog</li>
                    <li>Newsletter</li>
                    <li>Community</li>
                    <li>Contact</li>
                </ul>
            </div>
            <div class="col">
                <h3 class="footer_title">Help</h3>
                <ul class="footer_list">
                    <li>Knowledge Base</li>
                    <li>Forum</li>
                </ul>
            </div>
            <div class="col">
                <ul style="text-align: right;padding-top: 100px;">
                    <li><img src="img/twitter.png" style="width: 20px;height: 20px;"></li>
                    <li><img src="img/facebook.png" style="width: 20px;height: 20px;"></li>
                    <li><img src="img/email.png" style="width: 20px;height: 20px;"></li>
                    <li>© MutekiGamer 2019</li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript">
    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
        setTimeout(showSlides, 2000); // Change image every 2 seconds
    }

</script>
</body>
</html>
