<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:https="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <!-- <meta http-equiv="Content-Type" content="text/html" /> -->
    <meta name="keyword" content="HTML, CSS, image, navigation" />
    <meta name="referrer" content="no-referrer"/>
    <title>MutekiGamer - HomePage</title>
    <base th:href="@{/}">
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="stylesheet" type="text/css" href="css/HomePage.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js">  </script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/template-web.js}"></script>
    <script type="text/javascript" th:src="@{/js/Homepage.js}"></script>
    <script type="text/javascript" th:src="@{/js/Time.js}"></script>

    <style>
        .homepagebanner{
            background-image: url("/static/img/homepagebanner.jpg");
            background-size: cover;
        }
        .imgbox img{
            transition:all .4s;
            -moz-transition:all .4s;
            -webkit-transition:all .4s;
            -o-transition:all .4s;
        }
        .imgbox img:hover{
            transform:scale(1.2);
        }
    </style>
</head>

<body>
<!-- Navigation Bar-->
<div class="barContainer">
    <div class="nav-content" >
        <div class="nav-title">
                <span>
                    <img src="https://static.dingtalk.com/media/lALPDgQ9rZl6KXPNAljNB0Q_1860_600.png?auth_bizType=IM&auth_bizEntity=%7B%22cid%22%3A%228737273277%22%2C%22msgId%22%3A%222028145409841%22%7D&bizType=im&open_id=267508618" alt="MutekiGamer logo">
                </span>
        </div>
        <div class="nav-text">
        <span class="active" style="float: left;"><a href="HomePage" style="color: #dadada">主页</a></span>
        <span style="float: left"><a href="/homepage/community">社区</a></span>
        <span style="float: left"><a href="/homepage/news">头条</a></span>
        <span style="float: left"><a href="/homepage/battle">战场</a></span>
        <!--<span style="float: right"><a href="/homepage/my">我</a></span>-->
        <!--<span class="user">-->
                    <!--<a href="login">Login</a>-->
        <!--</span>-->
            <div class="dropdown" style="float: right;margin: 5px 30px;">
                <a href="/homepage/my" id="user_avatar_container">
                </a>
                <a class="dropdown-toggle"  data-toggle="dropdown" style="text-decoration: none;">
                </a>
                <div class="dropdown-menu" >
                    <!--两个跳转-->
                    <a class="dropdown-item" href="/homepage/alter_userinfo">修改信息</a>
                    <a class="dropdown-item" href="#">退出</a>
                </div>
            </div>
    </div>
    </div>
</div>
<!--video-->
<!--<div>-->
    <!--<video autoplay loop muted style="width: 100%;height: auto;position: fixed;">-->
        <!--<source src="https://blz.nosdn.127.net/1/tm/hearthstone/gameguide/descent-of-dragons/video/header_announcement.webm" type="video/mp4">-->
    <!--</video>-->
<!--</div>-->
<!-- body -->

<div class="homepagebanner" style="width: 100%;height: 650px;">
    <div style="margin-left: 15%;padding-top: 120px;width: 70%;height: auto;">
        <img src="https://static.dingtalk.com/media/lALPDgQ9rZmS1SDNAcLNB0Q_1860_450.png?auth_bizType=IM&auth_bizEntity=%7B%22cid%22%3A%228737273277%22%2C%22msgId%22%3A%222028305227287%22%7D&bizType=im&open_id=267508618">
    </div>
</div>
<div class="main-body" style="margin-top: 0px;padding-top: 0px;margin-bottom: 80px;">
    <div class="main-content">
        <div class="contextFrame">
            <div style="margin-bottom: 5px;">
                <span style="width: 5px;height: 40px;background-color: #EC7259;float: left"></span>
                <p style="font-size: 24px;margin-left: 8px;">热帖资讯</p>
            </div>
            <div class="innerFrame">
                <div class="left">
                    <div id="demo" class="carousel slide" data-ride="carousel" style="width: 100%;height: auto;">
                    <!-- 指示符 -->
                    <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                    <li data-target="#demo" data-slide-to="3"></li>
                    <li data-target="#demo" data-slide-to="4"></li>
                    </ul>

                    <!-- 轮播图片 -->
                    <div class="carousel-inner" id="banner">

                    </div>

                    <!-- 左右切换按钮 -->
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                    </a>
                    </div>
                    <!--<video autoplay loop muted style="position: static;width: 30%;height: 30%">-->
                        <!--<source src="https://overwatch.nosdn.127.net/1/assets/img/pages/home/header-mobile.webm">-->
                    <!--</video>-->
                </div>
                <div class="right">
                    <div class="textList">
                            <div class="listTitle">
                                <!-- 新闻资讯 -->
                                <h1 style="border-bottom: 1px solid #d3d3d3;padding-top: 8px;padding-bottom: 6px;padding-left: 15px;color: #EC7259;">Posts</h1>
                                <!--帖子内容-->
                                <div id="content" style="max-height: 300px;overflow: scroll;"></div>
                            </div>
                    </div>
                </div>
            </div>
        </div>

        <!--我的游戏-->
        <div style="width: 100%;height: auto;">
        <div class="contextFrame">
            <div style="margin-bottom: 15px;">
                <span style="width: 5px;height: 40px;background-color: #EC7259;float: left"></span>
                <p style="font-size: 24px;margin-left: 8px;">我的游戏</p>
            </div>
            <div class="imgbox">
                <div id="game" style="width: 100%;height: auto; float: left;">

                </div>
            </div>
            <div class="clearfloat"></div>
        </div>
    </div>
        <!--热门游戏推荐-->
        <div class="contextFrame">
            <div style="margin-bottom: 5px; width: 80%; float: left;">
                <span style="width: 5px;height: 40px;background-color: #EC7259;float: left;"></span>
                <p style="font-size: 24px;margin-left: 8px;float: left;">热门游戏</p>
            </div>
            <div style="width: 10%; float: right;">
                  <button class="login-button"  id="change_button" style="float:right; margin-top: 4%; width: 80px;height: 35px; outline: none;">
                      <img src="img/change.png" style="height: 15px;width: 15px;">
                         换一批
                  </button>
            </div>
            <div class="imgbox">
                <div id="game1" style="width: 100%;height: auto; float: left;"></div>
            </div>
            <div class="clearfloat"></div>
        </div>
    </div>
</div>

<!--我的游戏-->
<script id="games" type="text/html">
<ul style="height: 80px;">
    {{each data}}
    <li style="width: 180px;height: 180px;float: left;margin-right: 6%;margin-top: 20px;background-color: #D3D3D3;overflow: hidden;border-radius: 50%;">
        <img src="{{$value.picture}}" style="width: 180px; height: 180px; transition:all .4s;-moz-transition:all .4s;-webkit-transition:all .4s;-o-transition:all .4s;" >
    </li>
    {{/each}}
</ul>
</script>


<!--content-->
<script id="all" type="text/html">
    <ul>
        {{each data}}
        <li style="height: 80px;">
            <!--发帖人信息:用户名和头像-->
            <!--<div style=" width: 50px; float: left;">-->
                <!--<img src="{{$value.userAvatar}}"style="width: 50px;height: 50px">-->
            <!--</div>-->

            <!--帖子头部-->
            <a class="p" href="/homepage/bbspost/{{$value.postId}}" style="float: left; width: 90%; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                {{$value.title}}
            </a>
            <!--帖子内容-->
            <div style="float: left;font-weight: lighter; width:90%; height: 24px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                {{$value.content}}
            </div>
            <div style="float: left;margin-bottom: 5px;font-weight: lighter;font-size: 14px;color: #EC7259;">{{$value.userName}}</div>
            <!--帖子时间-->
            <div style="float: right;margin-bottom: 5px;font-weight: lighter;font-size: 14px;color: #555;">{{$value.time}}</div>
        </li>
        {{/each}}
    </ul>
</script>


<script>
    homepage(function(result){
        let _html1 = template('all', result.post);
        document.getElementById('content').innerHTML = _html1;

        let _html2 =template('games',result.game);
        document.getElementById('game').innerHTML = _html2;

        let _html3 = "";
        let banners = result.banner.data;
        for (let i = 0; i < banners.length ; i++) {
            if (i != 0) {
                _html3 += "<div class=\"carousel-item\">\n" +
                    "    <a href=\""+banners[i].bannerContentId+"\">\n" +
                        "    <img src=\"" + banners[i].bannerPicId + "\">\n" +
                    "    </a>\n" +
                    "</div>\n";
            }else{
                _html3 += "<div class=\"carousel-item active\">\n" +
                    "    <a href=\""+banners[i].bannerContentId+ "\">\n" +
                    "    <img src=\"" + banners[i].bannerPicId + "\">\n" +
                    "    </a>\n" +
                    "</div>\n"
            }
        }

        $("#banner").html(_html3);

        let userInfo = result.info.data;
        let _html4 = "<!--下面的img插用户头像-->\n" +
            "    <img src=\""+ userInfo.userAvatar+"\" style=\"width: 50px;height: 50px;border-radius: 50%;\">\n" +
            "      ";
        $("#user_avatar_container").html(_html4);

    });


    $("#change_button").click(function(){
        $("#game1").empty();
        getRecommendGames(function(result){
            console.log(result);
            let _html5 = template('games',result.post);
            console.log(_html5);
            document.getElementById('game1').innerHTML = _html5;
        });
    });

    getRecommendGames(function(result){
        console.log(result);
        let _html5 = template('games',result.post);
        console.log(_html5);
        document.getElementById('game1').innerHTML = _html5;
    });

</script>


<footer style="position: relative;height: 60px;background-color:#5E5E5E; color:  #EAEAEA;overflow: hidden;">
    <div style="height:50px;width: 180px;margin-left: 30%;float: left;">
        <img src="https://static.dingtalk.com/media/lALPDgQ9rZmS1SDNAcLNB0Q_1860_450.png?auth_bizType=IM&auth_bizEntity=%7B%22cid%22%3A%228737273277%22%2C%22msgId%22%3A%222028305227287%22%7D&bizType=im&open_id=267508618">
    </div>
    <div style="float: left; padding-top: 25px;padding-left: 80px;">
        <p style="float: left;font-weight: 200;font-size: 14px;">@MutekiGamer 2020</p>
        <p style="float: left;margin-left: 70px;font-weight: 200;font-size: 14px;">联系我们:&nbsp&nbspmuteki_gamer@163.com</p>
    </div>
</footer>

<script type="text/javascript">
    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
        setTimeout(showSlides, 2000); // Change image every 2 seconds
    }

</script>
</body>
</html>
