<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <!-- <meta http-equiv="Content-Type" content="text/html" /> -->
    <meta name="keyword" content="HTML, CSS, image, navigation" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MutekiGamer!</title>
    <link rel="stylesheet" type="text/css" href="./static/index.css" />
</head>

<body>
<!-- Navigation Bar -->
<div class="barContainer">
    <div class="nav-content">
        <!-- logo -->
        <div class="nav-title">
                <span>
                    <img src="img/logo-new.png" alt="VULCAN logo">
                </span>
        </div>
        <!-- context -->
        <div class="nav-text">
            <span style="float: left"><a href="HomePage.jsp">Home</a></span>
            <span style="float: left"><a href="BBSIndex.jsp">BBS</a></span>
            <span style="float: left"><a href="">Games</a></span>
            <span style="float: left"><a href="">News</a></span>
            <span style="float: left"><a href="">My</a></span>
            <span class="user">
                    <a href="login.html">Login</a>
                </span>
        </div>
    </div>
</div>

<div class="main-body">
    <div class="indexpic">
            <span>
                <img src="img/index.png" alt="indexpicture">
            </span>
    </div>
    <div id="nav" class="indexchose">
        <a href="login.html">
            <button class="login-button">登录</button>
        </a>
        <a href="register.html">
            <button class="login-button">注册</button>
        </a>
    </div>
    <div class="visitor">
        <a href="HomePage.html" style="font-size: 14px;">暂不登录，直接浏览>>></a>
    </div>

</div>
<!-- footer -->
<footer class="bottom-bar">
    Designed by GKD.
</footer>
<script type="text/javascript">

</script>
</body>
</html>
