<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="keyword" content="HTML, CSS, image, navigation"/>
    <meta name="referrer" content="no-referrer"/>
    <title>MY</title>
    <base th:href="@{/}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./static/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="./static/css/login.css"/>
    <link rel="stylesheet" type="text/css" href="./static/css/my.css"/>
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/template-web.js}"></script>
    <script type="text/javascript" th:src="@{/js/Homepage.js}"></script>
    <script type="text/javascript" th:src="@{/js/User.js}"></script>
    <script type="text/javascript" th:src="@{/js/Post.js}"></script>
<style type="text/css">
    body{
        background:url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1578632066944&di=488f11f15dcf0dec1695494ad1fb86a3&imgtype=jpg&src=http%3A%2F%2Fimg1.imgtn.bdimg.com%2Fit%2Fu%3D3531975901%2C102568049%26fm%3D214%26gp%3D0.jpg") no-repeat;
        color: rgba(220,220,220,1) ;
    }
    .divbox1.right1.ul.li a:link{
        color: #5c5c5c;
        text-decoration:none;
    }
    .nav-pills .nav-link:active{
        background-color: rgba(220,220,220,0.6);


    }
    .nav-pills .nav-link:hover{
        background-color: rgba(220,220,220,0.6);


    }



</style>

</head>
<body data-spy="scroll" data-target="#myScrollspy" data-offset="300">
<!-- Navigation Bar -->
<div class="barContainer" >
    <div class="nav-content">
        <div class="nav-title">
                <span>
                    <img src="https://static.dingtalk.com/media/lALPDgQ9rZl6KXPNAljNB0Q_1860_600.png?auth_bizType=IM&auth_bizEntity=%7B%22cid%22%3A%228737273277%22%2C%22msgId%22%3A%222028145409841%22%7D&bizType=im&open_id=267508618"
                         alt="MutekiGamer logo">
                </span>
        </div>
        <div class="nav-text">
            <span style="float: left"><a href="HomePage">主页</a></span>
            <span style="float: left"><a href="/homepage/community">社区</a></span>
            <span style="float: left"><a href="/homepage/news">头条</a></span>
            <span style="float: left"><a href="/homepage/battle">战场</a></span>
            <!--<span style="float: right"><a href="/homepage/my">我</a></span>-->
            <!--<span class="user">-->
                    <!--<a href="login">Login</a>-->
                <!--</span>-->
            <div class="dropdown" style="float: right;margin: 5px 30px;">
                <a href="/homepage/my">
                    <!--下面的img插用户头像-->
                    <img src="https://static.dingtalk.com/media/lADPDgQ9rbqFW6nNAQLNAQM_259_258.jpg_620x10000q90g.jpg?auth_bizType=IM&auth_bizEntity=%7B%22cid%22%3A%228737273277%22%2C%22msgId%22%3A%222062145382217%22%7D&bizType=im&open_id=267508618" style="width: 50px;height: 50px;border-radius: 50%;">
                </a>
                <a class="dropdown-toggle"  data-toggle="dropdown" style="text-decoration: none;">
                </a>
                <div class="dropdown-menu" >
                    <!--两个跳转-->
                    <a class="dropdown-item" href="#">修改信息</a>
                    <a class="dropdown-item" href="#">退出</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--photo-->
<div class="divbox1">
    <div class="left1" style="font-size: 13px;  width:120px;
    height:120px;
margin-left:200px;">
        <div id="myinfo1"></div>

    </div>
    <div class=right1 style="margin-top:120px;">
        <div id="myname" style="padding-left: 18px;"></div>
        <!--用户名<br><br>-->
        <ul class="ui" style="font-color: rgba(220,220,220,1);">
            <li style="margin: 0;">
<!--                <a type="button" class="btn  btn-link btn-lg ">-->
                    <!--发帖数-->
                    <div id="post_num" style="margin-top:24px;height: 100px;"></div>
<!--                </a>-->
            </li>
            <li style="margin-right: 60px;">
                <a type="button" class="btn  btn-link btn-lg " data-toggle="modal" data-target="#myModal1">
                    <div id="follow_num" style="height: 100px;"></div></a>
                <!-- 关注人数框 -->
                <div class="container">
                    <div class="modal fade" id="myModal1">
                        <div class="modal-dialog">
                            <div class="modal-content" style="margin-top: 180px;">
                                <!-- 关注人数框头部 -->
                                <div class="modal-header">
                                    <!--关注人数：5-->关注：

                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <!-- 关注人数框主体 -->
                                <div class="modal-body">
                                    <table class="table">

                                        <tbody style="max-height: 220px;overflow-y: scroll;-webkit-overflow-scrolling:touch;display: block;">
                                        <div id="follow_info"></div>
                                        <!--<tr>-->
                                        <!--<td><img-->
                                        <!--src="http://5b0988e595225.cdn.sohucs.com/q_70,c_zoom,w_640/images/20181214/6e00a9e09e8d4be8af46ebcd6e44a9db.jpeg"-->
                                        <!--style="height: 40px;width:40px;"></td>-->
                                        <!--<td>name1</td>-->
                                        <!--<td>-->
                                        <!--<button type="button" class="btn btn-outline-light text-dark"-->
                                        <!--style="margin-left: 180px; font-weight: 700;border-radius:20px;">-->
                                        <!--取消关注-->
                                        <!--</button>-->
                                        <!--</td>-->
                                        <!--</tr>-->
                                        <!--<tr>-->
                                        <!--<td><img-->
                                        <!--src="http://5b0988e595225.cdn.sohucs.com/q_70,c_zoom,w_640/images/20181214/6e00a9e09e8d4be8af46ebcd6e44a9db.jpeg"-->
                                        <!--style="height: 40px;width:40px;"></td>-->
                                        <!--<td>name2</td>-->
                                        <!--<td>-->
                                        <!--<button type="button" class="btn btn-outline-light text-dark"-->
                                        <!--style="margin-left: 180px; font-weight: 700;border-radius:20px;">-->
                                        <!--取消关注-->
                                        <!--</button>-->
                                        <!--</td>-->
                                        <!--</tr>-->
                                        <!--<tr>-->
                                        <!--<td><img-->
                                        <!--src="http://5b0988e595225.cdn.sohucs.com/q_70,c_zoom,w_640/images/20181214/6e00a9e09e8d4be8af46ebcd6e44a9db.jpeg"-->
                                        <!--style="height: 40px;width:40px;"></td>-->
                                        <!--<td>name3</td>-->
                                        <!--<td>-->
                                        <!--<button type="button" class="btn btn-outline-light text-dark"-->
                                        <!--style="margin-left: 180px; font-weight: 700;border-radius:20px;">-->
                                        <!--取消关注-->
                                        <!--</button>-->
                                        <!--</td>-->
                                        <!--</tr>-->
                                        <!--<tr>-->
                                        <!--<td><img-->
                                        <!--src="http://5b0988e595225.cdn.sohucs.com/q_70,c_zoom,w_640/images/20181214/6e00a9e09e8d4be8af46ebcd6e44a9db.jpeg"-->
                                        <!--style="height: 40px;width:40px;"></td>-->
                                        <!--<td>name4</td>-->
                                        <!--<td>-->
                                        <!--<button type="button" class="btn btn-outline-light text-dark"-->
                                        <!--style="margin-left: 180px; font-weight: 700;border-radius:20px;">-->
                                        <!--取消关注-->
                                        <!--</button>-->
                                        <!--</td>-->
                                        <!--</tr>-->
                                        <!--<tr>-->
                                        <!--<td><img-->
                                        <!--src="http://5b0988e595225.cdn.sohucs.com/q_70,c_zoom,w_640/images/20181214/6e00a9e09e8d4be8af46ebcd6e44a9db.jpeg"-->
                                        <!--style="height: 40px;width:40px;"></td>-->
                                        <!--<td>name5</td>-->
                                        <!--<td>-->
                                        <!--<button type="button" class="btn btn-outline-light text-dark"-->
                                        <!--style="margin-left: 180px; font-weight: 700;border-radius:20px;">-->
                                        <!--取消关注-->
                                        <!--</button>-->
                                        <!--</td>-->
                                        <!--</tr>-->
                                        </tbody>
                                    </table>

                                </div>
                                <!-- 关注人数框底部 -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="margin: 0;">
                <div id="follower_num" style="margin-top:11px;height: 100px;"></div>
                <!--   <a href="#">粉丝数</a>-->
                <!-- 按钮：用于打开粉丝数框 -->
                <!--<a type="button" class="btn  btn-link btn-lg " data-toggle="modal" data-target="#myModal2">-->
                <!--粉丝数-->
                <!--</a>-->
                <!-- 粉丝数框 -->
                <div class="container">
                    <div class="modal fade" id="myModal2">
                        <div class="modal-dialog">
                            <div class="modal-content" style="margin-top: 180px;">

                                <!-- 粉丝数框头部 -->
                                <div class="modal-header">粉丝：

                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <!-- 粉丝数框主体 -->
                                <div class="modal-body">
                                    <table class="table">
                                        <tbody style="max-height: 220px;overflow-y: scroll;-webkit-overflow-scrolling:touch;display: block;">
                                        <div id="follower_info"></div>
                                        <!--<tr>-->
                                        <!--<td><img-->
                                        <!--src="http://5b0988e595225.cdn.sohucs.com/q_70,c_zoom,w_640/images/20181214/6e00a9e09e8d4be8af46ebcd6e44a9db.jpeg"-->
                                        <!--style="height: 40px;width:40px;"></td>-->
                                        <!--<td>name1</td>-->
                                        <!--<td>-->
                                        <!--<button type="button" class="btn btn-outline-light text-dark"-->
                                        <!--style="margin-left: 180px; font-weight: 700;border-radius:20px;">-->
                                        <!--互相关注-->
                                        <!--</button>-->
                                        <!--</td>-->
                                        <!--</tr>-->
                                        <!--<tr>-->
                                        <!--<td><img-->
                                        <!--src="http://5b0988e595225.cdn.sohucs.com/q_70,c_zoom,w_640/images/20181214/6e00a9e09e8d4be8af46ebcd6e44a9db.jpeg"-->
                                        <!--style="height: 40px;width:40px;"></td>-->
                                        <!--<td>name2</td>-->
                                        <!--<td>-->
                                        <!--<button type="button"-->
                                        <!--class="btn btn-outline-light text-dark btn-warning"-->
                                        <!--style="margin-left: 180px;padding-left: 25px;padding-right: 25px; font-weight: 700;border-radius:20px;">-->
                                        <!--关注-->
                                        <!--</button>-->
                                        <!--</td>-->
                                        <!--</tr>-->
                                        <!--<tr>-->
                                        <!--<td><img-->
                                        <!--src="http://5b0988e595225.cdn.sohucs.com/q_70,c_zoom,w_640/images/20181214/6e00a9e09e8d4be8af46ebcd6e44a9db.jpeg"-->
                                        <!--style="height: 40px;width:40px;"></td>-->
                                        <!--<td>name3</td>-->
                                        <!--<td>-->
                                        <!--<button type="button" class="btn btn-outline-light text-dark"-->
                                        <!--style="margin-left: 180px; font-weight: 700;border-radius:20px;">-->
                                        <!--互相关注-->
                                        <!--</button>-->
                                        <!--</td>-->
                                        <!--</tr>-->
                                        <!--<tr>-->
                                        <!--<td><img-->
                                        <!--src="http://5b0988e595225.cdn.sohucs.com/q_70,c_zoom,w_640/images/20181214/6e00a9e09e8d4be8af46ebcd6e44a9db.jpeg"-->
                                        <!--style="height: 40px;width:40px;"></td>-->
                                        <!--<td>name4</td>-->
                                        <!--<td>-->
                                        <!--<button type="button"-->
                                        <!--class="btn btn-outline-light text-dark btn-warning"-->
                                        <!--style="margin-left: 180px;padding-left: 25px;padding-right: 25px; font-weight: 700;border-radius:20px;">-->
                                        <!--关注-->
                                        <!--</button>-->
                                        <!--</td>-->
                                        <!--</tr>-->
                                        <!--<tr>-->
                                        <!--<td><img-->
                                        <!--src="http://5b0988e595225.cdn.sohucs.com/q_70,c_zoom,w_640/images/20181214/6e00a9e09e8d4be8af46ebcd6e44a9db.jpeg"-->
                                        <!--style="height: 40px;width:40px;"></td>-->
                                        <!--<td>name5</td>-->
                                        <!--<td>-->
                                        <!--<button type="button" class="btn btn-outline-light text-dark"-->
                                        <!--style="margin-left: 180px; font-weight: 700;border-radius:20px;">-->
                                        <!--互相关注-->
                                        <!--</button>-->
                                        <!--</td>-->
                                        <!--</tr>-->
                                        </tbody>
                                    </table>

                                </div>
                                <!-- 粉丝数框底部 -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--scroll-->
<div class=divbox2>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-sm-3 col-4" id="myScrollspy">
                <!--导航-->
                <div id="navigation" ></div>
                <!--<li class="nav-item">-->
                <!--<a class="nav-link active" href="#section1"><img src="img/lushi.png" style="width:60px; height:60px;"></a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="#section2"><img src="img/anhei.png"style="width:60px; height:60px;"></a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="#section3"><img src="img/moshou.png" style="width:60px; height:60px;"></a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="#section4"><img src="img/fengbao.png" style="width:60px; height:60px;"></a>-->
                <!--</li>-->
                <!--</ul>-->
            </nav>

            <div class="col-sm-9 col-8">
                <!--帖子-->
                <div id="post"></div>
                <!--<div id="section1">-->
                <!--<ul>-->
                <!--<li>-->
                <!--<div style="font-size: 20px; padding-top:20px">24分钟前-->
                <!--</div>-->
                <!--<div style="font-size: 18px;margin-top: 20px;margin-bottom: 20px;">虽败犹荣,9倍的快乐你想象不到（狗头）<br>为早上的莽撞自罚一杯！-->

                <!--</div>-->
                <!--<div style="border: 0.5px solid gray;width:680px;height:1px"></div>-->
                <!--<div>-->
                <!--<ul class="ul">-->
                <!--<li><img src="http://www.easyicon.net/api/resizeApi.php?id=1196657&size=128"-->
                <!--style="width: 25px;height: 17px">&nbsp浏览数-->
                <!--</li>-->
                <!--<li><img src="http://www.easyicon.net/api/resizeApi.php?id=1190746&size=128"-->
                <!--style="width: 18px;height: 18px">&nbsp评论数-->
                <!--</li>-->
                <!--<li><img src="http://www.easyicon.net/api/resizeApi.php?id=1223115&size=128"-->
                <!--style="width: 20px;height: 20px">&nbsp点赞数-->
                <!--</li>-->
                <!--<button type="button" class="btn btn-outline-light text-dark"-->
                <!--style="margin-left:55px; margin-bottom:20px;font-weight: 700;">删除-->
                <!--</button>-->
                <!--</ul>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li style="border: 0.5px solid gray;width:780px;height:2px"></li>-->
                <!--<li>-->
                <!--<div style="font-size: 20px; padding-top: 20px">一天前</div>-->
                <!--<div style="font-size: 18px; margin-top: 20px;margin-bottom: 20px;">#炉石传说#圣光指引我！<br>-->
                <!--我觉得鲍勃在骗我，只有小粉，我的恶魔呢？-->
                <!--</div>-->
                <!--<div style="border: 0.5px solid gray;width:680px;height:1px"></div>-->
                <!--<div>-->
                <!--<ul class="ul">-->
                <!--<li><img src="http://www.easyicon.net/api/resizeApi.php?id=1196657&size=128"-->
                <!--style="width: 25px;height: 17px">&nbsp浏览数-->
                <!--</li>-->
                <!--<li><img src="http://www.easyicon.net/api/resizeApi.php?id=1190746&size=128"-->
                <!--style="width: 18px;height: 18px">&nbsp评论数-->
                <!--</li>-->
                <!--<li><img src="http://www.easyicon.net/api/resizeApi.php?id=1223115&size=128"-->
                <!--style="width: 20px;height: 20px">&nbsp点赞数-->
                <!--</li>-->
                <!--<button type="button" class="btn btn-outline-light text-dark"-->
                <!--style="margin-left:55px; margin-bottom:20px;font-weight: 700;">删除-->
                <!--</button>-->
                <!--</ul>-->
                <!--</div>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</div>-->
                <!--<div id="section2">-->
                <!--<ul>-->
                <!--<li>-->
                <!--<div style="font-size: 20px; padding-top:20px">24分钟前-->
                <!--</div>-->
                <!--<div style="font-size: 18px;margin-top: 20px;margin-bottom: 20px;">-->
                <!--#暗黑破坏神#虽败犹荣,9倍的快乐你想象不到（狗头）<br>为早上的莽撞自罚一杯！-->
                <!--</div>-->
                <!--<div style="border: 0.5px solid gray;width:680px;height:1px"></div>-->
                <!--<div>-->
                <!--<ul class="ul">-->
                <!--<li><img src="http://www.easyicon.net/api/resizeApi.php?id=1196657&size=128"-->
                <!--style="width: 25px;height: 17px">&nbsp浏览数-->
                <!--</li>-->
                <!--<li><img src="http://www.easyicon.net/api/resizeApi.php?id=1190746&size=128"-->
                <!--style="width: 18px;height: 18px">&nbsp评论数-->
                <!--</li>-->
                <!--<li><img src="http://www.easyicon.net/api/resizeApi.php?id=1223115&size=128"-->
                <!--style="width: 20px;height: 20px">&nbsp点赞数-->
                <!--</li>-->
                <!--<button type="button" class="btn btn-outline-light text-dark"-->
                <!--style="margin-left:55px; margin-bottom:20px;font-weight: 700;">删除-->
                <!--</button>-->
                <!--</ul>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li style="border: 0.5px solid gray;width:780px;height:2px"></li>-->
                <!--<li>-->
                <!--<div style="font-size: 20px; padding-top: 20px">一天前-->
                <!--</div>-->
                <!--<div style="font-size: 18px; margin-top: 20px;margin-bottom: 20px;">圣光指引我！<br>-->
                <!--我觉得鲍勃在骗我，只有小粉，我的恶魔呢？-->
                <!--</div>-->
                <!--<div style="border: 0.5px solid gray;width:680px;height:1px"></div>-->
                <!--<div>-->
                <!--<ul class="ul">-->
                <!--<li><img src="http://www.easyicon.net/api/resizeApi.php?id=1196657&size=128"-->
                <!--style="width: 25px;height: 17px">&nbsp浏览数-->
                <!--</li>-->
                <!--<li><img src="http://www.easyicon.net/api/resizeApi.php?id=1190746&size=128"-->
                <!--style="width: 18px;height: 18px">&nbsp评论数-->
                <!--</li>-->
                <!--<li><img src="http://www.easyicon.net/api/resizeApi.php?id=1223115&size=128"-->
                <!--style="width: 20px;height: 20px">&nbsp点赞数-->
                <!--</li>-->
                <!--<button type="button" class="btn btn-outline-light text-dark"-->
                <!--style="margin-left:55px; margin-bottom:20px;font-weight: 700;">删除-->
                <!--</button>-->
                <!--</ul>-->
                <!--</div>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</div>-->
                <!--<div id="section3">-->
                <!--<ul>-->
                <!--<li>-->
                <!--<div style="font-size: 20px; padding-top:20px">24分钟前-->
                <!--</div>-->
                <!--<div style="font-size: 18px;margin-top: 20px;margin-bottom: 20px;">#魔兽世界#虽败犹荣,9倍的快乐你想象不到（狗头）<br>为早上的莽撞自罚一杯！-->
                <!--</div>-->
                <!--<div style="border: 0.5px solid gray;width:680px;height:1px"></div>-->
                <!--<div>-->
                <!--<ul class="ul">-->
                <!--<li><img src="http://www.easyicon.net/api/resizeApi.php?id=1196657&size=128"-->
                <!--style="width: 25px;height: 17px">&nbsp浏览数-->
                <!--</li>-->
                <!--<li><img src="http://www.easyicon.net/api/resizeApi.php?id=1190746&size=128"-->
                <!--style="width: 18px;height: 18px">&nbsp评论数-->
                <!--</li>-->
                <!--<li><img src="http://www.easyicon.net/api/resizeApi.php?id=1223115&size=128"-->
                <!--style="width: 20px;height: 20px">&nbsp点赞数-->
                <!--</li>-->
                <!--<button type="button" class="btn btn-outline-light text-dark"-->
                <!--style="margin-left:55px; margin-bottom:20px;font-weight: 700;">删除-->
                <!--</button>-->
                <!--</ul>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li style="border: 0.5px solid gray;width:780px;height:2px"></li>-->
                <!--<li>-->
                <!--<div style="font-size: 20px; padding-top: 20px">一天前-->
                <!--</div>-->
                <!--<div style="font-size: 18px; margin-top: 20px;margin-bottom: 20px;">圣光指引我！<br>-->
                <!--我觉得鲍勃在骗我，只有小粉，我的恶魔呢？-->
                <!--</div>-->
                <!--<div style="border: 0.5px solid gray;width:680px;height:1px"></div>-->
                <!--<div>-->
                <!--<ul class="ul">-->
                <!--<li><img src="http://www.easyicon.net/api/resizeApi.php?id=1196657&size=128"-->
                <!--style="width: 25px;height: 17px">&nbsp浏览数-->
                <!--</li>-->
                <!--<li><img src="http://www.easyicon.net/api/resizeApi.php?id=1190746&size=128"-->
                <!--style="width: 18px;height: 18px">&nbsp评论数-->
                <!--</li>-->
                <!--<li><img src="http://www.easyicon.net/api/resizeApi.php?id=1223115&size=128"-->
                <!--style="width: 20px;height: 20px">&nbsp点赞数-->
                <!--</li>-->
                <!--<button type="button" class="btn btn-outline-light text-dark"-->
                <!--style="margin-left:55px; margin-bottom:20px;font-weight: 700;">删除-->
                <!--</button>-->
                <!--</ul>-->
                <!--</div>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</div>-->
                <!--<div id="section4">-->
                <!--<ul>-->
                <!--<li>-->
                <!--<div style="font-size: 20px; padding-top:20px">24分钟前-->
                <!--</div>-->
                <!--<div style="font-size: 18px;margin-top: 20px;margin-bottom: 20px;">-->
                <!--#风暴英雄1#虽败犹荣,9倍的快乐你想象不到（狗头）<br>为早上的莽撞自罚一杯！-->
                <!--</div>-->
                <!--<div style="border: 0.5px solid gray;width:680px;height:1px"></div>-->
                <!--<div>-->
                <!--<ul class="ul">-->
                <!--<li><img src="http://www.easyicon.net/api/resizeApi.php?id=1196657&size=128"-->
                <!--style="width: 25px;height: 17px">&nbsp浏览数-->
                <!--</li>-->
                <!--<li><img src="http://www.easyicon.net/api/resizeApi.php?id=1190746&size=128"-->
                <!--style="width: 18px;height: 18px">&nbsp评论数-->
                <!--</li>-->
                <!--<li><img src="http://www.easyicon.net/api/resizeApi.php?id=1223115&size=128"-->
                <!--style="width: 20px;height: 20px">&nbsp点赞数-->
                <!--</li>-->
                <!--<button type="button" class="btn btn-outline-light text-dark"-->
                <!--style="margin-left:55px; margin-bottom:20px;font-weight: 700;">删除-->
                <!--</button>-->
                <!--</ul>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li style="border: 0.5px solid gray;width:780px;height:2px"></li>-->
                <!--<li>-->
                <!--<div style="font-size: 20px; padding-top: 20px">一天前-->
                <!--</div>-->
                <!--<div style="font-size: 18px; margin-top: 20px;margin-bottom: 20px;">圣光指引我！<br>-->
                <!--我觉得鲍勃在骗我，只有小粉，我的恶魔呢？-->
                <!--</div>-->
                <!--<div style="border: 0.5px solid gray;width:680px;height:1px"></div>-->
                <!--<div>-->
                <!--<ul class="ul">-->
                <!--<li><img src="http://www.easyicon.net/api/resizeApi.php?id=1196657&size=128"-->
                <!--style="width: 25px;height: 17px">&nbsp浏览数-->
                <!--</li>-->
                <!--<li><img src="http://www.easyicon.net/api/resizeApi.php?id=1190746&size=128"-->
                <!--style="width: 18px;height: 18px">&nbsp评论数-->
                <!--</li>-->
                <!--<li><img src="http://www.easyicon.net/api/resizeApi.php?id=1223115&size=128"-->
                <!--style="width: 20px;height: 20px">&nbsp点赞数-->
                <!--</li>-->
                <!--<button type="button" class="btn btn-outline-light text-dark"-->
                <!--style="margin-left:55px; margin-bottom:20px;font-weight: 700;">删除-->
                <!--</button>-->
                <!--</ul>-->
                <!--</div>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</div>-->

            </div>
        </div>
    </div>
</div>
<!--渲染我的基本信息-->
<script id="myinfo11" type="text/html">
    <img src="{{userAvatar}}" style="width: 120px;height: 120px">
</script>

<script id="myname1" type="text/html" style="font-size: 100px">
    {{userName}}
</script>

<script id="post_num1" type="text/html">
    <button id="post_click" class="btn  btn-link btn-lg " style=" color:  rgba(220,220,220,1);
  text-decoration:none;">帖子：{{postLength}}</button>
</script>

<script id="follow_num1" type="text/html">
    <a class="btn  btn-link btn-lg " data-toggle="modal" data-target="#myModal1">
        <button id="follow_click"  class="btn  btn-link btn-lg " style=" color:  rgba(220,220,220,1);
  text-decoration:none;" >关注：{{followingNum}}</button>
    </a>
</script>

<script id="follower_num1" type="text/html">
    <a class="btn  btn-link btn-lg " data-toggle="modal" data-target="#myModal2">
        <button id="follower_click" class="btn  btn-link btn-lg " style=" color:  rgba(220,220,220,1);
  text-decoration:none;">粉丝：{{followerNum}}</button>
    </a>
</script>

<script id="follow_info1" type="text/html">
    <ul >
        {{each following}}
        <li style="width:466px;">
            <img src="{{$value.userAvatar}}" style="height: 50px;width: 50px;float: left;">
            <div style="float: left;margin-top: 10px;margin-left: 10px;">{{$value.userName}}</div>
            <button class="unfollow btn btn-outline-light text-dark" style=" font-weight: 700;border-radius:20px;float: right;margin-right: 40px;margin-top: 7px;" id="{{$value.userId}}}">取关</button>
        </li>
        {{/each}}
    </ul>
</script>

<script id="follower_info1" type="text/html">
    <ul>
        {{if following}}
        {{each following}}
        <li style="width:466px;">
            <div><img src="{{$value.userAvatar}}" style="height: 50px;width: 50px;float: left;"></div>
            <div style="float: left;margin-top: 10px;margin-left: 10px;">{{$value.userName}}</div>
        </li>
        {{/each}}
        {{{/if}}
    </ul>
</script>
<!--处理显示左侧游戏-->
<script id="navigation1" type="text/html">
    <ul class="nav nav-pills flex-column" style="text-align: center;margin-left: 190px;" >
        {{each data}}
        <li class="nav-item">
            <a class="nav-link " href="#{{$value.gameId}}">
                <img src="{{$value.picture}}" style="width: 80px; height: 80px; ">
            </a>
        </li>
        {{/each}}
    </ul>
</script>
<script id="test" type="text/html">
        {{each data}}
            <div id="{{$value.gameId}}" style="color: #000; background-color: rgba(220,220,220,0.4);">
                {{include 'test2' $value}}
            </div>
        {{/each}}
</script>
<script id="test2" type="text/html">
    <ul>
        {{each myPost}}
        <li>

            <a href="/homepage/bbspost/{{$value.postId}}" >
                <div>{{$value.title}}</div>
            </a>
            {{$value.content}}
        </li>
        {{/each}}
    </ul>
</script>
<!--处理个人信息请求-->
<script>
    var myinfo = {};
    getUserInfo(function (result) {
        console.log(result);
        myinfo = result.data;

        console.log(myinfo);
        var h1 = template('myinfo11', myinfo);
        document.getElementById('myinfo1').innerHTML = h1;

        var h2 = template('myname1', myinfo);
        document.getElementById('myname').innerHTML = h2;

        var h4 = template('post_num1', myinfo);
        document.getElementById('post_num').innerHTML = h4;

        var h3 = template('follow_num1', myinfo);
        document.getElementById('follow_num').innerHTML = h3;

        var h5 = template('follower_num1', myinfo);
        document.getElementById('follower_num').innerHTML = h5;

        var follow_info = template('follow_info1', myinfo);
        document.getElementById('follow_info').innerHTML = follow_info;

        var follower_info = template('follower_info1', myinfo);
        document.getElementById('follower_info').innerHTML = follower_info;

    })

</script>

<!--处理游戏请求-->
<script>
    homepage(function (result) {
        var g = result.game.data;
        var html = template('navigation1', result.game);
        console.log(html);
        document.getElementById('navigation').innerHTML = html;


        var h = template('test', result.game);
        console.log(h);
        document.getElementById('post').innerHTML = h;
    })
</script>
<script>
    $(function () {
        $(".unfollow").click(function () {
            let val = $(this).attr("id");
            unfollow(val, function (result) {
                alert("success");
            })
        })
    })
</script>

</body>
</html>
