<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <!-- <meta http-equiv="Content-Type" content="text/html" /> -->
    <meta name="keyword" content="HTML, CSS, image, navigation"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>MutekiGamer - Post</title>
    <base th:href="@{/}">
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <link rel="stylesheet" type="text/css" href="css/bbspost.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js">  </script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-autohidingnavbar/4.0.0/jquery.bootstrap-autohidingnavbar.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js">  </script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-lite.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-lite.js"></script>
    <script type="text/javascript" th:src="@{/js/template-web.js}"></script>
    <script type="text/javascript" th:src="@{/js/User.js}"></script>
</head>

<body>
    <!--nav-->
    <div class="barContainer" style="background-color: white;">
        <div class="nav-content"  style="position: relative;">
            <div class="nav-title">
                <span >
                    <img src="https://static.dingtalk.com/media/lALPDgQ9rZl6KXPNAljNB0Q_1860_600.png?auth_bizType=IM&auth_bizEntity=%7B%22cid%22%3A%228737273277%22%2C%22msgId%22%3A%222028145409841%22%7D&bizType=im&open_id=267508618" alt="MutekiGamer logo">
                </span>
            </div>  
            <div class="nav-text">
            <span style="float: left"><a href="HomePage1">主页</a></span>
            <span style="float: left"><a href="/homepage/community">社区</a></span>
            <span style="float: left"><a href="/homepage/news">头条</a></span>
            <span style="float: left"><a href="/homepage/battle">战场</a></span>
            <span style="float: right"><a href="/homepage/my">我</a></span>
            <span class="user">
                    <a href="Login">Login</a>
            </span>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 50px;margin-bottom: 80px;">
        <div class="row">
            <div class="col-md-8 postbg" style="padding: 25px;">
                <p style="text-align: left;"><img src="img/pencil.png" style="width: 15px;height: 15px;margin-right: 10px;">发表新帖</p>
                <form>
                <div id="summernote"></div>
                    <script>
                    $('#summernote').summernote({
                        placeholder: 'Write Here',
                        tabsize: 2,
                        height: 400
                    });
                    </script>
                    <button type="submit" class="btn btn-outline-info" style="margin-top: 20px;float: right;">发布帖子</button>
                </form>
            </div>
            <div class="col-md-4" style="padding: 0;">
                <div class="author" id="userinfo_container">
                    <!--<p style="text-align: left;padding-left: 30px;"><img src="img/pencil.png" style="width: 15px;height: 15px;"> 我</p>-->
                    <!--<a href="">-->
                        <!--<img src="https://static.dingtalk.com/media/lADPDgQ9rbqFW6nNAQLNAQM_259_258.jpg_620x10000q90g.jpg?auth_bizType=IM&auth_bizEntity=%7B%22cid%22%3A%228737273277%22%2C%22msgId%22%3A%222062145382217%22%7D&bizType=im&open_id=267508618">-->
                        <!--<p style="margin-top: 15px;">莫甘娜</p>-->
                    <!--</a>-->
                    <!--<ul>-->
                        <!--<li>帖子:5</li>-->
                        <!--<li>粉丝:55</li>-->
                        <!--<li>关注:555</li>-->
                    <!--</ul>-->
                </div>
            </div>
        </div>
    </div>

    <!--个人-->
    <script type="text/html" id="userinfo">
        <p style="text-align: left;padding-left: 30px;">
            <img src="img/pencil.png" style="width: 15px;height: 15px;"> 我</p>
        <a href="">
            <img src="https://static.dingtalk.com/media/lADPDgQ9rbqFW6nNAQLNAQM_259_258.jpg_620x10000q90g.jpg?auth_bizType=IM&auth_bizEntity=%7B%22cid%22%3A%228737273277%22%2C%22msgId%22%3A%222062145382217%22%7D&bizType=im&open_id=267508618">
            <p style="margin-top: 15px;">{{userName}}</p>
        </a>
        <ul>
            <li>帖子:{{postLength}}</li>
            <li>粉丝:{{followerNum}}</li>
            <li>关注:{{followingNum}}</li>
        </ul>
    </script>

    <script type="text/javascript">
        getUserInfo(function (result) {
            let _html ;
            console.log(result.data);
            _html = template("userinfo", result.data);
            $("#userinfo_container").html(_html);
        })
    </script>


    <footer style="position: relative;height: 60px;background-color:#5E5E5E; color:  #EAEAEA;overflow: hidden;" >
        <div style="height:50px;width: 180px;margin-left: 30%;float: left;">
            <img src="https://static.dingtalk.com/media/lALPDgQ9rZmS1SDNAcLNB0Q_1860_450.png?auth_bizType=IM&auth_bizEntity=%7B%22cid%22%3A%228737273277%22%2C%22msgId%22%3A%222028305227287%22%7D&bizType=im&open_id=267508618">
        </div>
        <div style="float: left; padding-top: 25px;padding-left: 80px;">
        <p style="float: left;font-weight: 200;font-size: 14px;">@MutekiGamer 2020</p>
        <p style="float: left;margin-left: 40px;font-weight: 200;font-size: 14px;">联系我们:</p>
        <div style="float: left;">          
            <img src="img/twitter.png" style="width: 20px;height: 20px;margin-left: 10px;">
            <img src="img/facebook.png" style="width: 20px;height: 20px;margin-left: 10px;">
            <img src="img/email.png" style="width: 20px;height: 20px;margin-left: 10px;">
        </div>
        </div>  
    </footer>
</body>
</html>