<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
   <!-- <meta http-equiv="Content-Type" content="text/html" /> -->
    <meta name="keyword" content="HTML, CSS, image, navigation" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MutekiGamer - ReadPost</title>
    <base th:href="@{}">
    <!--  <link rel="stylesheet" type="text/css" href="css/index.css" /> -->
    <link rel="stylesheet" type="text/css" href="css/ReadPost_2.css" />
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<!--    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js">  </script>-->
<!--    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>-->
<!--    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>-->
</head>

<body>
    <!-- Navigation Bar -->
    <div class="barContainer">
        <div class="nav-content">
            <!-- logo -->
            <div class="nav-title">
                <span>
                    <img src="https://static.dingtalk.com/media/lALPDgQ9rZl6KXPNAljNB0Q_1860_600.png?auth_bizType=IM&auth_bizEntity=%7B%22cid%22%3A%228737273277%22%2C%22msgId%22%3A%222028145409841%22%7D&bizType=im&open_id=267508618" alt="MutekiGamer logo">
                </span>
            </div>
            <!-- context -->
            <div class="nav-text">
                <span style="float: left"><a href="HomePage.html">Home</a></span>
                <span style="float: left"><a href="BBS.html">BBS</a></span>
                <span style="float: left"><a href="">Games</a></span>
                <span style="float: left"><a href="News.html">News</a></span>
                <span style="float: left"><a href="">My</a></span>
                <span class="user">
                    <a href="login.html">Login</a>
                </span>
            </div> 
        </div>
    </div>
    <!-- body -->
    <div class="main-body">
        <div class="main-content">
        	<div class="postContext">
        		<div class="postOperate" style="background-color: white; border-width: 2px; border-color: grey;">
                    <button class="pageConctrl">英雄联盟</button>
                    <button class="pageConctrl">LOL</button>
                    <button class="pageConctrl">皮肤鉴赏</button>
                    <button class="pageConctrl">永恒之森</button>
                    <button class="pageConctrl">魔腾</button>
                    <button class="pageConctrl">维嘉</button>
                    <button class="pageConctrl">阿狸</button>
                </div>
        		<div class="clear"></div>
        		<div class="postHeader">
        			<h1>【皮肤鉴赏】神秘的永恒之森系列--魔腾、维嘉、阿狸</h1>
        		</div>
        		<div class="postMainbody">
        			<div class="postTitle">
        				<p>【永恒之森 魔腾】
                            上架时间：9.18版本
                            皮肤价格：7900点券
                            购买地址 ：道聚城或游戏商城购买</p>
        			</div>
                    <div class="postAttention">
                        <button style="border-radius: 5px; background-color: darkred; outline:none;" class="postRe">关注此贴</button>
                        <button style="border-radius: 5px; background-color: darkred; outline:none;" class="postRe">写回帖</button>
                        <button style="border-radius: 5px; background-color: darkred; outline:none;" class="postRe">更多操作</button>
                    </div>
        			<!-- <div class="postContext">
        				<div class="postUser">
        					<img onclick="Jump()" id="posterAvatar" src="https://gss0.bdstatic.com/6LZ1dD3d1sgCo2Kml5_Y_D3/sys/portrait/item/tb.1.2a3400bb.0VEmZZOqC2gdFHAIzUaAfA?t=1531645841">
        					<p onclick="Jump()">LEVEL 8</p>
                            <img src="http://www.easyicon.net/api/resizeApi.php?id=1224728&size=128" style="height:20px; width: 20px;">
        					<p onclick="Jump()" href="">Blood※妖精</p>
        				</div>
        				<div class="postText" style="padding-top:40px;">
        					【永恒之森 魔腾】
                            <br><br>
                            上架时间：9.18版本
                            <br><br>
                            皮肤价格：7900点券
                            <br><br>
                            购买地址 ：道聚城或游戏商城购买、
        				</div>
        			</div> -->
        			<div class="postContext">
        				<div class="postUser">
                            <img src="https://gss0.bdstatic.com/6LZ1dD3d1sgCo2Kml5_Y_D3/sys/portrait/item/tb.1.2a3400bb.0VEmZZOqC2gdFHAIzUaAfA?t=1531645841" style="margin-top: 45px;">
                            <p>LEVEL 8</p>
                            <img src="http://www.easyicon.net/api/resizeApi.php?id=1224728&size=128" style="height:20px; width: 20px;">
                            <p>Blood※妖精</p>
                        </div>
        				<div class="postText" style="padding-top: 10px;">
                            【读条界面图】
                            <br>
                            <img src="http://tiebapic.baidu.com/forum/w%3D580/sign=c4a8e77467cf3bc7e800cde4e101babd/cb9eb2fd5266d016aa858551802bd40734fa35f4.jpg" style="height:150px; width: 130px; padding-left: 10px;">
                            <div class="texttime" >
                            1楼 2019年12月31日17:50 
                            </div>
        				</div>
        			</div>
        			<div class="postContext">
                        <div class="postUser">
                            <img  src="https://gss0.bdstatic.com/6LZ1dD3d1sgCo2Kml5_Y_D3/sys/portrait/item/tb.1.2a3400bb.0VEmZZOqC2gdFHAIzUaAfA?t=1531645841" style="margin-top: 45px;">
                            <p>LEVEL 8</p>
                            <img src="http://www.easyicon.net/api/resizeApi.php?id=1224728&size=128" style="height:20px; width: 20px;">
                            <p>Blood※妖精</p>
                        </div>
                        <div class="postText" style="padding-top: 10px;">
                            【游戏内头像及技能】
                            <br><br>
                            <img src="http://tiebapic.baidu.com/forum/w%3D580/sign=1f4087a59d13632715edc23ba18ea056/4c4c6f63f6246b6002aca90dfcf81a4c500fa2ea.jpg" style="height:100px; width: 550px; padding-left: 10px;">
                            <br><br>
                            <div class="texttime" >
                            2楼 2019年12月31日17:54 
                            </div>
                        </div>
                    </div>
        			<div class="postContext">
                        <div class="postUser">
                            <img src="https://gss0.bdstatic.com/6LZ1dD3d1sgCo2Kml5_Y_D3/sys/portrait/item/tb.1.2a3400bb.0VEmZZOqC2gdFHAIzUaAfA?t=1531645841" style="margin-top: 45px;">
                            <p>LEVEL 8</p>
                            <img src="http://www.easyicon.net/api/resizeApi.php?id=1224728&size=128" style="height:20px; width: 20px;">
                            <p>Blood※妖精</p>
                        </div>
                        <div class="postText" style="padding-top: 10px;">
                            【游戏内模型】【静态】正面
                            <br>
                            <img src="http://tiebapic.baidu.com/forum/w%3D580/sign=9f18873e2e12b31bc76ccd21b6193674/89b10ed162d9f2d3bbb93f96beec8a136227cce1.jpg" style="height:150px; width: 120px;">
                            <div class="texttime" >
                            3楼 2019年12月31日17:55 
                            </div>
                        </div>
                    </div>
        			<div class="postContext">
                        <div class="postUser">
                            <img onclick="Jump()" id="posterAvatar" src="https://gss0.bdstatic.com/6LZ1dD3d1sgCo2Kml5_Y_D3/sys/portrait/item/tb.1.2a3400bb.0VEmZZOqC2gdFHAIzUaAfA?t=1531645841" style="margin-top: 45px;">
                            <p onclick="Jump()">LEVEL 8</p>
                            <img src="http://www.easyicon.net/api/resizeApi.php?id=1224728&size=128" style="height:20px; width: 20px;">
                            <p onclick="Jump()" href="">Blood※妖精</p>
                        </div>
                        <div class="postText" style="padding-top: 10px;">
                            【技能效果展示】【Q技能】抛出瞬间有一个紫色雾态的长者之森面具引导后方的路径
                            <br><br>
                            <img src="http://tiebapic.baidu.com/forum/w%3D580/sign=c2ed77495d90f60304b09c4f0913b370/9c4319950a7b0208339bc49975d9f2d3572cc83a.jpg" style="height:130px; width: 350px;">
                            <div class="texttime" >
                            4楼 2019年12月31日17:56 
                            </div>
                        </div>
                    </div>
                    <!-- <div class="postPager">
                        <button class="pageConctrl">>|</button>
                        <button class="pageConctrl">></button>
                        <button class="pageConctrl">5</button>
                        <button class="pageConctrl">4</button>
                        <button class="pageConctrl">3</button>
                        <button class="pageConctrl">2</button>
                        <button class="pageConctrl">1</button>
                    </div> -->
        		</div>
                <div class="division"></div>
        	</div>

        	<!-- <div class="newPost">
        		<div class="listTitle">
        			<img src="img/glyphicons_free/glyphicons/png/glyphicons-31-pencil.png">
        			<p>Post Reply</p>

        		</div>
        		<div class="post">
        			<div class="postTitle">
        				<div class="postStyle">

        				<img src="img/glyphicons_free/glyphicons/png/glyphicons-103-bold.png">

        				<img src="img/glyphicons_free/glyphicons/png/glyphicons-104-text-underline.png">

        				<img src="img/glyphicons_free/glyphicons/png/glyphicons-117-text-bigger.png">

        				<img src="img/glyphicons_free/glyphicons/png/glyphicons-116-text-smaller.png">

        				<img src="img/glyphicons_free/glyphicons/png/glyphicons-111-align-left.png">

        				<img src="img/glyphicons_free/glyphicons/png/glyphicons-112-align-center.png">

        				<img src="img/glyphicons_free/glyphicons/png/glyphicons-113-align-right.png">

        			</div>
        			<form id="newPost">
        				<textarea id="postContext" form="newPost" placeholder="Context of the post"></textarea>
        			</form>
        				
        			<input form="newPost" type="submit" name="" value="Post" style="width: 100%">
        			<div class="division"></div>
        		</div>
        				
        		</div>
        	</div> -->
        	<div class="division"></div>
        	<div class="division"></div>
        </div>
    </div>

    <div class="test">
        <div lang="en-US" class="gitment-container gitment-editor-container" >
        <div class="gitment-editor-main" style="background-color: #F5F5F5;">
            <div class="gitment-editor-header">
                <nav class="gitment-editor-tabs">
                    <button class="gitment-editor-tab gitment-selected">编辑</button>
                </nav>
            </div>
            <div class="gitment-editor-body">
                <div class="gitment-editor-write-field">
                    <textarea placeholder="你想说些什么" title="Login to Comment"></textarea>
                </div>
                <div class="gitment-editor-preview-field gitment-hidden">
                    <div class="gitment-editor-preview gitment-markdown"></div>
                </div>
            </div>
        </div>
        <div class="gitment-editor-footer">
            <button class="gitment-editor-submit" title="Login to Comment">回贴</button>
        </div>
    </div>
    </div>
    <!-- jumpOut -->
    <!-- <div id="jumpLogin" class="jumpOut">
        <div class="jumpOutMain">
            <div class="jumpOutTitle">
                <h1>Fanta</h1>
            </div>
            <div class="jumpOutContent">
                <div class="targetInfo">
                    <div class="targetDetails">
                        <img onclick="Jump()" id="posterAvatar" src="img/scCyberPunk/VaporwaveVita/Fanta.jpg">
                    </div>
                    <div class="targetDetails">
                    	<span>
                            <p>Nick Name:</p>
                            <p>Fanta</p>   
                        </span>
                    </div>
                    <div class="targetDetails">
                        <span>
                            <p>Sex:</p>
                            <p>Male</p>
                        </span>
                    </div>
                    <div class="targetDetails">
                        <span>
                            <p>Contact:</p>
                            <p>2_gouzi@gouzi.com</p>   
                        </span>
                    </div>
                    <div class="targetDetails">
                        <span>
                            <p>School:</p>
                            <p>Central China Normal University</p>
                        </span>
                    </div>
                    <div class="division"></div>
                </div>
            </div>
            <div class="jumpOutBottom">
                <button onclick="Hide()">Close</button>
            </div>
        </div>
    </div> -->
    <!-- footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="footer_title">Product</h3>
                    <ul class="footer_list">                        
                        <li>Integrations</li>
                        <li>Slack Bot</li>
                        <li>Customers</li>
                        <li>Case Studies</li>
                        <li>Pricing</li>
                    </ul>
                </div>
                <div class="col">
                    <h3 class="footer_title">Company</h3>
                    <ul class="footer_list">
                        <li>About</li>
                        <li>Blog</li>
                        <li>Newsletter</li>
                        <li>Community</li>
                        <li>Contact</li>
                    </ul>
                </div>
                <div class="col">
                    <h3 class="footer_title">Help</h3>
                    <ul class="footer_list">
                        <li>Knowledge Base</li>
                        <li>Forum</li>
                    </ul>
                </div>
                <div class="col">
                    <ul style="text-align: right;padding-top: 100px;">
                        <li style="list-style-type: none;"><img src="img/twitter.png" style="width: 20px;height: 20px;"></li>
                        <li style="list-style-type: none;"><img src="img/facebook.png" style="width: 20px;height: 20px;"></li>
                        <li style="list-style-type: none;"><img src="img/email.png" style="width: 20px;height: 20px;"></li>
                        <li style="list-style-type: none;">© MutekiGamer 2019</li>
                    </ul>
                </div>
            </div>
        </div>     
    </footer>
    <script type="text/javascript">
        function Jump(){
            document.getElementById("jumpLogin").style.display = "block";
            document.getElementById("jumpLogin").style.height = document.body.offsetHeight+"px";
        }
        function Hide(){
            document.getElementById("jumpLogin").style.display = "none";
        }
        function submit(){
            alert("Your request has been sent successfully");
        }
    </script>
</body>
</html>
