<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
   <!-- <meta http-equiv="Content-Type" content="text/html" /> -->
    <meta name="keyword" content="HTML, CSS, image, navigation" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MutekiGamer - ReadPost</title>
    <base th:href="@{}">
    <!--  <link rel="stylesheet" type="text/css" href="css/index.css" /> -->
    <link rel="stylesheet" type="text/css" href="css/ReadPost_3.css" />
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<!--    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js">  </script>-->
<!--    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>-->
<!--    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>-->
</head>

<body>
    <!-- Navigation Bar -->
    <div class="barContainer">
        <div class="nav-content">
            <!-- logo -->
            <div class="nav-title">
                <span>
                    <img src="https://static.dingtalk.com/media/lALPDgQ9rZl6KXPNAljNB0Q_1860_600.png?auth_bizType=IM&auth_bizEntity=%7B%22cid%22%3A%228737273277%22%2C%22msgId%22%3A%222028145409841%22%7D&bizType=im&open_id=267508618" alt="MutekiGamer logo">
                </span>
            </div>
            <!-- context -->
            <div class="nav-text">
                <span style="float: left"><a href="HomePage.html">Home</a></span>
                <span style="float: left"><a href="BBS.html">BBS</a></span>
                <span style="float: left"><a href="">Games</a></span>
                <span style="float: left"><a href="News.html">News</a></span>
                <span style="float: left"><a href="">My</a></span>
                <span class="user">
                    <a href="login.html">Login</a>
                </span>
            </div> 
        </div>
    </div>
    <!-- body -->
    <div class="main-body">
        <div class="main-content">
        	<div class="postContext">
        		<div class="postOperate" style="background-color: white; border-width: 2px; border-color: grey;">
                    <button class="pageConctrl">魔兽世界</button>
                    <button class="pageConctrl">WOW</button>
                    <button class="pageConctrl">怀旧服</button>
                    <button class="pageConctrl">游戏职业</button>
                </div>
        		<div class="clear"></div>
        		<div class="postHeader">
        			<h1>【活动】【投票】魔兽世界：怀旧服最适合什么职业？</h1>
        		</div>
        		<div class="postMainbody">
        			<div class="postTitle">
        				<p>快来了解魔兽世界怀旧服都有哪些推荐的职业！</p>
        			</div>
                    <div class="postAttention">
                        <button style="border-radius: 5px; background-color: darkred; outline:none;" class="postRe">关注此贴</button>
                        <button style="border-radius: 5px; background-color: darkred; outline:none;" class="postRe">写回帖</button>
                        <button style="border-radius: 5px; background-color: darkred; outline:none;" class="postRe">更多操作</button>
                    </div>
        			<div class="postContext">
        				<div class="postUser">
        					<img src="https://gss0.bdstatic.com/6LZ1dD3d1sgCo2Kml5_Y_D3/sys/portrait/item/tb.1.3e6e7302.gme33v7_jVLlxwgfHPHoLg?t=1533781011" style="margin-top: 45px;">
        					<p>LEVEL 9</p>
                            <img src="https://www.easyicon.net/api/resizeApi.php?id=1086030&size=128" style="height:20px; width: 20px;">
        					<p>上古之战</p>
        				</div>
        				<div class="postText" style="padding-top:40px;">
        					猎人。第一推荐职业。WOW是一个RPG游戏，对于这类游戏，大家的侧重点都不同。有的人喜欢PVP,有的人喜欢PVE，有的人喜欢输出，有的人喜欢治疗。还有的人喜欢把其当成养成游戏。不管选择如何。LR能满足除了治疗之外的所有条件。作为第一长手职业，野外遇到任何敌人都可以潇洒风筝。只能你打敌人，敌人打不到你。而PVE上，LR的DPS很高，且装备独一份，没人和你争抢。WOW早期，什么都需要钱，所以适合单刷的LR是首选。且LR的宝宝是一大特色，你可以抓各种不同的宠物。喜欢养成游戏的人猎人绝对是不错的选择。PS:很多觉得法师强力的人最后都选择了猎人。
                            <div class="texttime"  style="margin-top: 25px;">
                            1楼 2019年12月31日17:49 
                            </div>
        				</div>
        			</div>
        			<div class="postContext">
        				<div class="postUser">
                            <img src="https://gss0.bdstatic.com/6LZ1dD3d1sgCo2Kml5_Y_D3/sys/portrait/item/tb.1.3e6e7302.gme33v7_jVLlxwgfHPHoLg?t=1533781011" style="margin-top: 45px;">
                            <p>LEVEL 9</p>
                            <img src="https://www.easyicon.net/api/resizeApi.php?id=1086030&size=128" style="height:20px; width: 20px;">
                            <p>上古之战</p>
                        </div>
        				<div class="postText" style="padding-top: 50px;">
                            法师。60级年代，PVP上真正强力的职业只有俩个：一个FS一个DZ。甚至WOW一度被称为贼法世界。特点就是在其他职业技能花里胡哨的时候，法师的技能则包含保命，控制，爆发等条件。看起来这更PVP。传送门，做食物等副技能也让其较其他职业方便许多。法师也是可以单刷副本的职业，虽然不如LR方便。但绝对也是不愁金币的职业。
                            <div class="texttime"  style="margin-top: 60px;">
                            2楼 2019年12月31日17:50 
                            </div>
        				</div>
        			</div>
        			<div class="postContext">
                        <div class="postUser">
                            <img src="https://gss0.bdstatic.com/6LZ1dD3d1sgCo2Kml5_Y_D3/sys/portrait/item/tb.1.3e6e7302.gme33v7_jVLlxwgfHPHoLg?t=1533781011" style="margin-top: 45px;">
                            <p>LEVEL 9</p>
                            <img src="https://www.easyicon.net/api/resizeApi.php?id=1086030&size=128" style="height:20px; width: 20px;">
                            <p>上古之战</p>
                        </div>
                        <div class="postText" style="padding-top: 50px;">
                            潜行者。就是我们所说的DZ。和法师并驾齐驱的存在。和法师一直打爆发不同。DZ由于潜行的存在，使得我们总有一种敌暗我明的优越感。给人一种不同的乐趣。这前三个职业，都有个共同点。就是爽。技能精简高效，机制灵活。使得他们不管在PVE还是PVP上都可以轻易的碾压其他职业。而DZ则是三职业中手段最多，花样最多的。喜欢近战职业的建议首选。
                            <div class="texttime"  style="margin-top: 60px;">
                            3楼 2019年12月31日17:52 
                            </div>
                        </div>
                    </div>
        			<div class="postContext">
                        <div class="postUser">
                            <img src="https://gss0.bdstatic.com/6LZ1dD3d1sgCo2Kml5_Y_D3/sys/portrait/item/tb.1.3e6e7302.gme33v7_jVLlxwgfHPHoLg?t=1533781011" style="margin-top: 45px;">
                            <p>LEVEL 9</p>
                            <img src="https://www.easyicon.net/api/resizeApi.php?id=1086030&size=128" style="height:20px; width: 20px;">
                            <p>上古之战</p>
                        </div>
                        <div class="postText" style="padding-top: 50px;">
                            战士。WOW中有一句很著名的格言：天堂在左，战士向右。战士这个职业在WOW中一直给人一种坚毅，勇敢，正义，有奉献精神的团队核心。大刀阔斧，雷凌风行的形象身受很多人喜爱。严格来说，60级的WOW只有战士能当坦克。而一个好的坦克是决定这个公会能否成功打到BOSS的先决条件。可见其意义多么巨大。
                            <div class="texttime"  style="margin-top: 60px;">
                            4楼 2019年12月31日17:55 
                            </div>
                        </div>
                    </div>
        			<div class="postContext">
                        <div class="postUser">
                            <img src="https://gss0.bdstatic.com/6LZ1dD3d1sgCo2Kml5_Y_D3/sys/portrait/item/tb.1.3e6e7302.gme33v7_jVLlxwgfHPHoLg?t=1533781011" style="margin-top: 45px;">
                            <p>LEVEL 9</p>
                            <img src="https://www.easyicon.net/api/resizeApi.php?id=1086030&size=128" style="height:20px; width: 20px;">
                            <p>上古之战</p>
                        </div>
                        <div class="postText" style="padding-top: 50px;">
                            牧师。治疗职业的首选。假如说坦克只有战士能担任的话。那治疗职业只有牧师能胜任。前期的WOW一直是个无法平衡各职业的游戏。虽然说治疗不嫌多。别的治疗职业也能混团。但作用上真的比牧师差太多。不仅能顺发治疗，还能释放护盾。不管是战场上还是副本中，牧师都是一个受欢迎的存在。
                            <div class="texttime"  style="margin-top: 80px;">
                            5楼 2019年12月31日17:58 
                            </div>
                        </div>
                    </div>
                    <!-- <div class="postPager">
                        <button class="pageConctrl">>|</button>
                        <button class="pageConctrl">></button>
                        <button class="pageConctrl">5</button>
                        <button class="pageConctrl">4</button>
                        <button class="pageConctrl">3</button>
                        <button class="pageConctrl">2</button>
                        <button class="pageConctrl">1</button>
                    </div> -->
        		</div>
                <div class="division"></div>
        	</div>

        	<!-- <div class="newPost">
        		<div class="listTitle">
        			<img src="img/glyphicons_free/glyphicons/png/glyphicons-31-pencil.png">
        			<p>Post Reply</p>

        		</div>
        		<div class="post">
        			<div class="postTitle">
        				<div class="postStyle">

        				<img src="img/glyphicons_free/glyphicons/png/glyphicons-103-bold.png">

        				<img src="img/glyphicons_free/glyphicons/png/glyphicons-104-text-underline.png">

        				<img src="img/glyphicons_free/glyphicons/png/glyphicons-117-text-bigger.png">

        				<img src="img/glyphicons_free/glyphicons/png/glyphicons-116-text-smaller.png">

        				<img src="img/glyphicons_free/glyphicons/png/glyphicons-111-align-left.png">

        				<img src="img/glyphicons_free/glyphicons/png/glyphicons-112-align-center.png">

        				<img src="img/glyphicons_free/glyphicons/png/glyphicons-113-align-right.png">

        			</div>
        			<form id="newPost">
        				<textarea id="postContext" form="newPost" placeholder="Context of the post"></textarea>
        			</form>
        				
        			<input form="newPost" type="submit" name="" value="Post" style="width: 100%">
        			<div class="division"></div>
        		</div>
        				
        		</div>
        	</div> -->
        	<div class="division"></div>
        	<div class="division"></div>
        </div>
    </div>
    <div class="test">
        <div lang="en-US" class="gitment-container gitment-editor-container" >
        <div class="gitment-editor-main" style="background-color: #F5F5F5;">
            <div class="gitment-editor-header">
                <nav class="gitment-editor-tabs">
                    <button class="gitment-editor-tab gitment-selected">编辑</button>
                </nav>
            </div>
            <div class="gitment-editor-body">
                <div class="gitment-editor-write-field">
                    <textarea placeholder="你想说些什么" title="Login to Comment"></textarea>
                </div>
                <div class="gitment-editor-preview-field gitment-hidden">
                    <div class="gitment-editor-preview gitment-markdown"></div>
                </div>
            </div>
        </div>
        <div class="gitment-editor-footer">
            <button class="gitment-editor-submit" title="Login to Comment">回贴</button>
        </div>
    </div>
    </div>
    <!-- jumpOut -->
    <!-- <div id="jumpLogin" class="jumpOut">
        <div class="jumpOutMain">
            <div class="jumpOutTitle">
                <h1>Fanta</h1>
            </div>
            <div class="jumpOutContent">
                <div class="targetInfo">
                    <div class="targetDetails">
                        <img onclick="Jump()" id="posterAvatar" src="img/scCyberPunk/VaporwaveVita/Fanta.jpg">
                    </div>
                    <div class="targetDetails">
                    	<span>
                            <p>Nick Name:</p>
                            <p>Fanta</p>   
                        </span>
                    </div>
                    <div class="targetDetails">
                        <span>
                            <p>Sex:</p>
                            <p>Male</p>
                        </span>
                    </div>
                    <div class="targetDetails">
                        <span>
                            <p>Contact:</p>
                            <p>2_gouzi@gouzi.com</p>   
                        </span>
                    </div>
                    <div class="targetDetails">
                        <span>
                            <p>School:</p>
                            <p>Central China Normal University</p>
                        </span>
                    </div>
                    <div class="division"></div>
                </div>
            </div>
            <div class="jumpOutBottom">
                <button onclick="Hide()">Close</button>
            </div>
        </div>
    </div> -->
    <!-- footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="footer_title">Product</h3>
                    <ul class="footer_list">                        
                        <li>Integrations</li>
                        <li>Slack Bot</li>
                        <li>Customers</li>
                        <li>Case Studies</li>
                        <li>Pricing</li>
                    </ul>
                </div>
                <div class="col">
                    <h3 class="footer_title">Company</h3>
                    <ul class="footer_list">
                        <li>About</li>
                        <li>Blog</li>
                        <li>Newsletter</li>
                        <li>Community</li>
                        <li>Contact</li>
                    </ul>
                </div>
                <div class="col">
                    <h3 class="footer_title">Help</h3>
                    <ul class="footer_list">
                        <li>Knowledge Base</li>
                        <li>Forum</li>
                    </ul>
                </div>
                <div class="col">
                    <ul style="text-align: right;padding-top: 100px;">
                        <li style="list-style-type: none;"><img src="img/twitter.png" style="width: 20px;height: 20px;"></li>
                        <li style="list-style-type: none;"><img src="img/facebook.png" style="width: 20px;height: 20px;"></li>
                        <li style="list-style-type: none;"><img src="img/email.png" style="width: 20px;height: 20px;"></li>
                        <li style="list-style-type: none;">© MutekiGamer 2019</li>
                    </ul>
                </div>
            </div>
        </div>     
    </footer>
    <script type="text/javascript">
        function Jump(){
            document.getElementById("jumpLogin").style.display = "block";
            document.getElementById("jumpLogin").style.height = document.body.offsetHeight+"px";
        }
        function Hide(){
            document.getElementById("jumpLogin").style.display = "none";
        }
        function submit(){
            alert("Your request has been sent successfully");
        }
    </script>
</body>
</html>
