<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
   <!-- <meta http-equiv="Content-Type" content="text/html" /> -->
    <meta name="keyword" content="HTML, CSS, image, navigation" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MutekiGamer - ReadPost</title>
    <base th:href="@{}">
    <!--  <link rel="stylesheet" type="text/css" href="css/index.css" /> -->
    <link rel="stylesheet" type="text/css" href="css/ReadPost_4.css" />
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<!--    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js">  </script>-->
<!--    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>-->
<!--    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>-->
</head>

<body>
    <!-- Navigation Bar -->
    <div class="barContainer">
        <div class="nav-content">
            <!-- logo -->
            <div class="nav-title">
                <span>
                    <img src="https://static.dingtalk.com/media/lALPDgQ9rZl6KXPNAljNB0Q_1860_600.png?auth_bizType=IM&auth_bizEntity=%7B%22cid%22%3A%228737273277%22%2C%22msgId%22%3A%222028145409841%22%7D&bizType=im&open_id=267508618" alt="MutekiGamer logo">
                </span>
            </div>
            <!-- context -->
            <div class="nav-text">
                <span style="float: left"><a href="HomePage.html">Home</a></span>
                <span style="float: left"><a href="BBS.html">BBS</a></span>
                <span style="float: left"><a href="">Games</a></span>
                <span style="float: left"><a href="News.html">News</a></span>
                <span style="float: left"><a href="">My</a></span>
                <span class="user">
                    <a href="login.html">Login</a>
                </span>
            </div> 
        </div>
    </div>
    <!-- body -->
    <div class="main-body">
        <div class="main-content">
        	<div class="postContext">
        		<div class="postOperate" style="background-color: white; border-width: 2px; border-color: grey;">
                    <button class="pageConctrl">魔兽世界</button>
                    <button class="pageConctrl">WOW</button>
                    <button class="pageConctrl">怀旧服</button>
                    <button class="pageConctrl">战歌峡谷</button>
                    <button class="pageConctrl">奥特兰峡谷</button>
                </div>
        		<div class="clear"></div>
        		<div class="postHeader">
        			<h1>《魔兽世界》经典怀旧服：战歌峡谷和奥特兰克山谷现已开放！</h1>
        		</div>
        		<div class="postMainbody">
        			<div class="postTitle">
        				<p>怀旧服：战歌峡谷和奥特兰克山谷现已开放！</p>
        			</div>
                    <div class="postAttention">
                        <button style="border-radius: 5px; background-color: darkred; outline:none;" class="postRe">关注此贴</button>
                        <button style="border-radius: 5px; background-color: darkred; outline:none;" class="postRe">写回帖</button>
                        <button style="border-radius: 5px; background-color: darkred; outline:none;" class="postRe">更多操作</button>
                    </div>
        			<div class="postContext">
        				<div class="postUser">
        					<img src="http://n.7k7kimg.cn/2013/0130/1359513200653.jpg" style="margin-top: 45px;">
        					<p>LEVEL 11</p>
                            <img src="https://www.easyicon.net/api/resizeApi.php?id=1207408&size=128" style="height:20px; width: 20px;">
        					<p>巨龙时代</p>
        				</div>
        				<div class="postText" style="padding-top:50px;">
        					是时候试一试你的PvP技术了。战歌峡谷和奥特兰克山谷现已正式上线《魔兽世界》经典怀旧服。
                            <div class="texttime"  style="margin-top: 140px;">
                            1楼 2019年12月31日17:49 
                            </div>
        				</div>
                        
        			</div>
        			<div class="postContext">
        				<div class="postUser">
                            <img src="http://n.7k7kimg.cn/2013/0130/1359513200653.jpg" style="margin-top: 45px;">
                            <p>LEVEL 11</p>
                            <img src="https://www.easyicon.net/api/resizeApi.php?id=1207408&size=128" style="height:20px; width: 20px;">
                            <p>巨龙时代</p>
                        </div>
        				<div class="postText" style="padding-top: 10px; ">
                            战歌峡谷<br>
                            在10v10的夺旗战场中检验你的团队合作能力。率先夺取对方三面战旗的队伍将会获得胜利，并获得用以提高PvP等级的荣誉点数。要加入战场，你的角色需要至少达到10级，然后和主城的战场军官对话来加入队列。如果你想来一段冒险，也可以亲自前往北贫瘠之地（部落）或灰谷（联盟）的战场入口。<br>
                            你将会匹配到其他的玩家，等级范围如下：<br>
                            10–19;20–29；30–39;40–49；50–59;60
                            <div class="texttime"  style="margin-top: 60px;">
                            2楼 2019年12月31日17:52 
                            </div>
        				</div>
                        
        			</div>
        			<div class="postContext">
                        <div class="postUser">
                            <img src="http://n.7k7kimg.cn/2013/0130/1359513200653.jpg" style="margin-top: 45px;">
                            <p>LEVEL 11</p>
                            <img src="https://www.easyicon.net/api/resizeApi.php?id=1207408&size=128" style="height:20px; width: 20px;">
                            <p>巨龙时代</p>
                        </div>
                        <div class="postText" style="padding-top: 50px;">
                            奥特兰克山谷
                            <br>
                            迈入奥特兰克山谷的战场就要做好每一步都会遇到战斗的准备。你需要在40v40的大混战中和你的队伍密切合作，看看哪一方才是最后的胜者。要加入奥特兰克山谷战场队列，你的角色需要至少达到51级，然后和主城的战场军官对话即可加入队列。或者你也可以亲身前往奥特兰克山谷，等待加入战场。
                            <br> 
                            <div class="texttime"  style="margin-top: 70px;">
                            3楼 2019年12月31日17:53 
                            </div>                          
                        </div>
                        
                    </div>
        			<div class="postContext">
                        <div class="postUser">
                            <img src="http://n.7k7kimg.cn/2013/0130/1359513200653.jpg" style="margin-top: 45px;">
                            <p>LEVEL 11</p>
                            <img src="https://www.easyicon.net/api/resizeApi.php?id=1207408&size=128" style="height:20px; width: 20px;">
                            <p>巨龙时代</p>
                        </div>
                        <div class="postText" style="padding-top: 50px;">
                            你和你的队伍需要团结合作，共同完成PvE和PvP目标才能获得胜利。你们需要占领关键的地点，例如矿洞、哨塔、墓地等等，这些可以帮助你在地图上不断推进，帮助你完成主要目标——消灭敌方阵营的将军：联盟的范达尔·雷矛或部落的德雷克塔尔。摧毁敌人的哨塔并消灭保护将军的精英可以让你和你的队伍更轻松地完成这项任务。
                            <div class="texttime"  style="margin-top: 70px;">
                            4楼 2019年12月31日17:55 
                            </div>  
                        </div>
                        
                    </div>
        			<div class="postContext">
                        <div class="postUser">
                            <img onclick="Jump()" id="posterAvatar" src="http://n.7k7kimg.cn/2013/0130/1359513200653.jpg" style="margin-top: 45px;">
                            <p onclick="Jump()">LEVEL 11</p>
                            <img src="https://www.easyicon.net/api/resizeApi.php?id=1207408&size=128" style="height:20px; width: 20px;">
                            <p onclick="Jump()" href="">巨龙时代</p>
                        </div>
                        <div class="postText" style="padding-top: 50px;">
                            你也可以上交从野怪、敌方卫兵和玩家身上夺取的资源来获得额外的增益，帮助自己的阵营碾压敌人。
                            <br>
                            在战场获得雷矛卫队（联盟）或霜狼氏族（部落）的声望还能解锁新的奖励。你可以在战场中完成多种多样的任务来获得额外的声望。
                            <br>
                            还在等什么？快去战斗吧！
                            <div class="texttime"  style="margin-top: 70px;">
                            5楼 2019年12月31日17:58 
                            </div>  
                        </div>
                        </div>
                    </div>
                   <!--  <div class="postPager">
                        <button class="pageConctrl">>|</button>
                        <button class="pageConctrl">></button>
                        <button class="pageConctrl">5</button>
                        <button class="pageConctrl">4</button>
                        <button class="pageConctrl">3</button>
                        <button class="pageConctrl">2</button>
                        <button class="pageConctrl">1</button>
                    </div> -->
        		</div>
                <div class="division"></div>
        	</div>

        	<!-- <div class="newPost">
        		<div class="listTitle">
        			<img src="img/glyphicons_free/glyphicons/png/glyphicons-31-pencil.png">
        			<p>Post Reply</p>

        		</div>
        		<div class="post">
        			<div class="postTitle">
        				<div class="postStyle">

        				<img src="img/glyphicons_free/glyphicons/png/glyphicons-103-bold.png">

        				<img src="img/glyphicons_free/glyphicons/png/glyphicons-104-text-underline.png">

        				<img src="img/glyphicons_free/glyphicons/png/glyphicons-117-text-bigger.png">

        				<img src="img/glyphicons_free/glyphicons/png/glyphicons-116-text-smaller.png">

        				<img src="img/glyphicons_free/glyphicons/png/glyphicons-111-align-left.png">

        				<img src="img/glyphicons_free/glyphicons/png/glyphicons-112-align-center.png">

        				<img src="img/glyphicons_free/glyphicons/png/glyphicons-113-align-right.png">

        			</div>
        			<form id="newPost">
        				<textarea id="postContext" form="newPost" placeholder="Context of the post"></textarea>
        			</form>
        				
        			<input form="newPost" type="submit" name="" value="Post" style="width: 100%">
        			<div class="division"></div>
        		</div>
        				
        		</div>
        	</div> -->
        	<div class="division"></div>
        	<div class="division"></div>
        </div>
    </div>

    <div class="test">
        <div lang="en-US" class="gitment-container gitment-editor-container" >
        <div class="gitment-editor-main" style="background-color: #F5F5F5;">
            <div class="gitment-editor-header">
                <nav class="gitment-editor-tabs">
                    <button class="gitment-editor-tab gitment-selected">编辑</button>
                </nav>
            </div>
            <div class="gitment-editor-body">
                <div class="gitment-editor-write-field">
                    <textarea placeholder="你想说些什么" title="Login to Comment"></textarea>
                </div>
                <div class="gitment-editor-preview-field gitment-hidden">
                    <div class="gitment-editor-preview gitment-markdown"></div>
                </div>
            </div>
        </div>
        <div class="gitment-editor-footer">
            <button class="gitment-editor-submit" title="Login to Comment">回贴</button>
        </div>
    </div>
    </div>
    <!-- jumpOut -->
    <!-- <div id="jumpLogin" class="jumpOut">
        <div class="jumpOutMain">
            <div class="jumpOutTitle">
                <h1>Fanta</h1>
            </div>
            <div class="jumpOutContent">
                <div class="targetInfo">
                    <div class="targetDetails">
                        <img onclick="Jump()" id="posterAvatar" src="img/scCyberPunk/VaporwaveVita/Fanta.jpg">
                    </div>
                    <div class="targetDetails">
                    	<span>
                            <p>Nick Name:</p>
                            <p>Fanta</p>   
                        </span>
                    </div>
                    <div class="targetDetails">
                        <span>
                            <p>Sex:</p>
                            <p>Male</p>
                        </span>
                    </div>
                    <div class="targetDetails">
                        <span>
                            <p>Contact:</p>
                            <p>2_gouzi@gouzi.com</p>   
                        </span>
                    </div>
                    <div class="targetDetails">
                        <span>
                            <p>School:</p>
                            <p>Central China Normal University</p>
                        </span>
                    </div>
                    <div class="division"></div>
                </div>
            </div>
            <div class="jumpOutBottom">
                <button onclick="Hide()">Close</button>
            </div>
        </div>
    </div> -->
    <!-- footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="footer_title">Product</h3>
                    <ul class="footer_list">                        
                        <li>Integrations</li>
                        <li>Slack Bot</li>
                        <li>Customers</li>
                        <li>Case Studies</li>
                        <li>Pricing</li>
                    </ul>
                </div>
                <div class="col">
                    <h3 class="footer_title">Company</h3>
                    <ul class="footer_list">
                        <li>About</li>
                        <li>Blog</li>
                        <li>Newsletter</li>
                        <li>Community</li>
                        <li>Contact</li>
                    </ul>
                </div>
                <div class="col">
                    <h3 class="footer_title">Help</h3>
                    <ul class="footer_list">
                        <li>Knowledge Base</li>
                        <li>Forum</li>
                    </ul>
                </div>
                <div class="col">
                    <ul style="text-align: right;padding-top: 100px;">
                        <li style="list-style-type: none;"><img src="img/twitter.png" style="width: 20px;height: 20px;"></li>
                        <li style="list-style-type: none;"><img src="img/facebook.png" style="width: 20px;height: 20px;"></li>
                        <li style="list-style-type: none;"><img src="img/email.png" style="width: 20px;height: 20px;"></li>
                        <li style="list-style-type: none;">© MutekiGamer 2019</li>
                    </ul>
                </div>
            </div>
        </div>     
    </footer>
    <script type="text/javascript">
        function Jump(){
            document.getElementById("jumpLogin").style.display = "block";
            document.getElementById("jumpLogin").style.height = document.body.offsetHeight+"px";
        }
        function Hide(){
            document.getElementById("jumpLogin").style.display = "none";
        }
        function submit(){
            alert("Your request has been sent successfully");
        }
    </script>
</body>
</html>
