<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <!-- <meta http-equiv="Content-Type" content="text/html" /> -->
    <meta name="keyword" content="HTML, CSS, image, navigation"/>
    <meta name="referrer" content="no-referrer"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>MutekiGamer - Team</title>
    <base th:href="@{/}">
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <link rel="stylesheet" type="text/css" href="css/login.css"/>
    <link rel="stylesheet" type="text/css" href="css/teaminfo.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-autohidingnavbar/4.0.0/jquery.bootstrap-autohidingnavbar.js"></script>
    <script type="text/javascript" th:src="@{/js/template-web.js}"></script>
    <script type="text/javascript" th:src="@{/js/Homepage.js}"></script>
    <script type="text/javascript" th:src="@{/js/Time.js}"></script>
    <script type="text/javascript" th:src="@{/js/Team.js}"></script>
    <script type="text/javascript" th:src="@{/js/User.js}"></script>

    <style>
        .teamintro h1:hover{
            transition: all .4s;
            transform: scale(1.3);
        }
    </style>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
<!--nav-->
<div class="barContainer">
    <div class="nav-content" style="position: relative;">
        <div class="nav-title">
                <span>
                    <img src="https://static.dingtalk.com/media/lALPDgQ9rZl6KXPNAljNB0Q_1860_600.png?auth_bizType=IM&auth_bizEntity=%7B%22cid%22%3A%228737273277%22%2C%22msgId%22%3A%222028145409841%22%7D&bizType=im&open_id=267508618"
                         alt="MutekiGamer logo">
                </span>
        </div>
        <div class="nav-text">
            <span style="float: left"><a href="HomePage">主页</a></span>
            <span style="float: left"><a href="/homepage/community">社区</a></span>
            <span style="float: left"><a href="/homepage/news">头条</a></span>
            <span style="float: left"><a href="/homepage/battle">战场</a></span>
            <div class="dropdown" style="float: right;margin: 5px 30px;">
                <a href="/homepage/my" id="user_avatar_container">
                </a>
                <a class="dropdown-toggle"  data-toggle="dropdown" style="text-decoration: none;">
                </a>
                <div class="dropdown-menu" >
                    <!--两个跳转-->
                    <a class="dropdown-item" href="#">修改信息</a>
                    <a class="dropdown-item" href="#">退出</a>
                </div>
            </div>
            <!--<span style="float: right"><a href="/homepage/my">我</a></span>-->
        </div>
    </div>
</div>

<div class="main-body">

    <!-- banner -->
    <!--战队基本信息-->
    <div id="teaminfo"></div>
    <script id="teaminfo1" type="text/html">
        <div class="teambanner">
            <div class="teamimg">
                <img style="border-radius: 50%;" src="{{avatar}}">
            </div>
            <div class="teamintro" style="margin-top: 90px;margin-left: 10%;">
                <h1 style="font-size: 54px;text-shadow: 0 0 30px white;font-family: 'Rubik', sans-serif;font-weight: 600;">{{teamName}}</h1>
                <!--<p style="font-size: 24px;">EdwardGaming</p>-->
                <div class="teamabout">
                </div>
            </div>
        </div>
    </script>

    <!--处理战队基本信息-->
    <script>
        teaminfo(function (result) {
            var teaminfo = result.result;
            console.log(teaminfo);
            var html = template('teaminfo1', teaminfo.data);
            // console.log(html);
            document.getElementById('teaminfo').innerHTML = html;
        });

        getUserInfo(function(result){
            let userInfo = result.data;
            $("#user_avatar_container").html(" <!--下面的img插用户头像-->\n" +
                "                    <img src=\""+userInfo.userAvatar+"\" style=\"width: 50px;height: 50px;border-radius: 50%;\">\n");
        });
    </script>


    <!-- member -->
    <div class="member">
        <div class="teamsection">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="position: sticky;top: 0;z-index: 99;">
                <ul class="navbar-nav navnavnavbar">
                    <li class="nav-item navnavnavitem">
                        <a class="nav-link" href="#section1">现役成员</a>
                    </li>
                    <li class="nav-item navnavnavitem">
                        <a class="nav-link" href="#section2">战队数据</a>
                    </li>
                    <li class="nav-item navnavnavitem">
                        <a class="nav-link" href="#section3">近期比赛</a>
                    </li>
                </ul>
            </nav>


            <div id="section1" class="container-fluid bg-light"
                 style="padding-top:30px;padding-bottom: 70px;padding-left: 6%;">
                <div style="height: 100%;width: 100%;">
                    <div id="member"></div>
                    <script id="member1" type="text/html">
                        <ul>
                            {{each data}}
                            <li class="memberlist">
                                <a href="" class="memberinfo1">
                                    <div class="memberpic">
                                        <img src="{{$value.avatar}}" alt="">
                                    </div>
                                </a>
                                <div class="membername">
                                    <p style="margin-bottom: 0;">{{$value.codeName}}</p>
                                    <p style="font-size: 14px;color: #8E8E8E;">{{$value.realName}}</p>
                                </div>
                                <span class="memberlabel">{{$value.position}}</span>
                            </li>
                            {{/each}}
                        </ul>
                    </script>
                    <div class="clearfloat"></div>
                </div>
            </div>
            <!--获取战队成员信息-->
            <script>
                member(function (result) {
                    var members = result.result;
                    console.log(members);
                    var html = template('member1', members);
                    // console.log(html);
                    document.getElementById('member').innerHTML = html;
                })
            </script>
            <!--没有数据-->
            <div id="section2" class="container-fluid bg-gray" style="padding-top:70px;padding-bottom:70px">
                <div class="table-responsive teamdata">
                        <table class="table table-hover">
                            <thead class="thead-dark" style="width: 100%">
                            <tr>
                                <th>DIV</th>
                                <th>W</th>
                                <th>L</th>
                                <th>MAP W-L-T</th>
                                <th>DIFF</th>
                            </tr>
                            </thead>
                            <tr>
                                <td>PAC</td>
                                <td>7</td>
                                <td>0</td>
                                <td>26-6-0</td>
                                <td>+18</td>
                            </tr>
                            <tr>
                                <td>ATL</td>
                                <td>7</td>
                                <td>0</td>
                                <td>22-6-1</td>
                                <td>+16</td>
                            </tr>
                            <tr>
                                <td>PAC</td>
                                <td>5</td>
                                <td>2</td>
                                <td>16-11-1</td>
                                <td>+14</td>
                            </tr>
                            <tr>
                                <td>PAC</td>
                                <td>6</td>
                                <td>1</td>
                                <td>21-7-0</td>
                                <td>+16</td>
                            </tr>
                            <tr>
                                <td>ATL</td>
                                <td>7</td>
                                <td>0</td>
                                <td>23-4-1</td>
                                <td>+19</td>
                            </tr>
                        </table>
                </div>
            </div>

            <script>
                var data = {
                    test: [
                        1, 2, 3, 4
                    ]
                };
                var html = template('match1', data);
                document.getElementById('match').innerHTML = html;
            </script>
            <div id="section3" class="container-fluid bg-light" style="padding-top:70px;padding-bottom:70px">
                <div class="table-responsive teamdata">
                    <div id="battle"></div>

                    <script id="battle1" type="text/html">
                        <table class="table table-hover ">
                            <thead class="thead-dark" style="width: 100%">
                            <tr>
                                <th>状态</th>
                                <th>时间</th>
                                <th>胜败</th>
                                <th>赛事</th>
                                <th>观看</th>
                            </tr>
                            </thead>
                            <tbody id="teamdata">
                            {{each data}}
                            <tr>
                                <td class="recentmatch">
                                    {{if $value.status==0}}
                                    未开始
                                    {{else}}
                                    已结束
                                    {{/if}}
                                </td>
                                <td class="recentmatch">{{$value.time}}</td>
                                <td>
                                    <span style="width: 100px;height: 50px;display: inline-block;word-wrap: break-word;word-break: normal;float: left;">{{$value.teamName1}}</span>
                                    <span>{{$value.teamScore1}}</span>
                                    :
                                    <span>{{$value.teamScore2}}</span>
                                    <span style="width: 100px;height: 50px;display: inline-block;word-wrap: break-word;word-break: normal;float: right;">{{$value.teamName2}}</span>
                                </td>
                                <td class="recentmatch">{{$value.winnerId}}</td>
                                <td><a class="btn btn-outline-dark" href="{{$value.recordReviewLink}}" style="padding: 5px 20px;">查看</a></td>
                            </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </script>
                </div>
            </div>
            <script>
                teamContest(function (result) {
                    var contest = result.result;

                    var html = template('battle1', contest);
                    console.log(html);
                    document.getElementById('battle').innerHTML = html;
                })
            </script>
        </div>
    </div>

    <!--footer-->
    <footer style="position: relative;height: 60px;background-color:#5E5E5E; color:  #EAEAEA;overflow: hidden;" >

        <div style="height:50px;width: 180px;margin-left: 30%;float: left;">
            <img src="https://static.dingtalk.com/media/lALPDgQ9rZmS1SDNAcLNB0Q_1860_450.png?auth_bizType=IM&auth_bizEntity=%7B%22cid%22%3A%228737273277%22%2C%22msgId%22%3A%222028305227287%22%7D&bizType=im&open_id=267508618">
        </div>
        <div style="float: left; padding-top: 25px;padding-left: 80px;">
            <p style="float: left;font-weight: 200;font-size: 14px;">@MutekiGamer 2020</p>

            <p style="float: left;margin-left: 70px;font-weight: 200;font-size: 14px;">联系我们:&nbsp&nbspmuteki_gamer@163.com</p>
        </div>
    </footer>

</body>
</html>