<!DOCTYPE html>
<html lang="en">
<script type="text/javascript"
        src="webjars/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="./static/js/Homepage.js"></script>
    <head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h1>fuck </h1>

    <body>
    <button id="test_all_data">test all data</button>
    <button id="test_data_by_id">test data by id</button>
    </body>
    <script type="text/javascript">
        //home
        document.getElementById("test_all_data").onclick = function(){
            homepage(function (result) {
                // console.log(result);
                let games = result.banner;

                console.log(result.game[0].gameName);
                console.log(result.banner);
                console.log(result.post);
                console.log(result);
            });
        };

        document.getElementById("test_data_by_id").onclick = function () {
            let gameId = 1;
            getPostByGameId(gameId,function(result){
                console.log(result);
                console.log(result.post)
            });
        }
    </script>

</head>

</html>