<!DOCTYPE html>
<html lang="en">
<script type="text/javascript"
        src="webjars/jquery/2.2.4/jquery.min.js"></script>
<!--引入相关的js-->
<script type="text/javascript" src="./static/js/Homepage.js"></script>
<script type="text/javascript" src="./static/js/Post.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h1>fuck </h1>

    <body>
    <button id="test_all_data">test all data</button>
    <button id="test_data_by_id">test data by id</button>

    <br>

    <input id="postContent" value="内容">
    <input id="postTitle"   value="标题">
    <input id="gameId"      value="游戏Id">
    <input id="tag"         value="帖子Tag">

    <button  id="new_post">发帖</button>


</body>
    <script type="text/javascript">
        //home
        document.getElementById("test_all_data").onclick = function(){
            homepage(function (result) {
                // console.log(result);
                let games = result.banner;

                console.log(result.game[0].gameName);
                console.log(result.banner);
                console.log(result.post);
                console.log(result);
            });
        };

        document.getElementById("test_data_by_id").onclick = function () {
            let gameId = 1;
            getPostByGameId(gameId,function(result){
                console.log(result);
                console.log(result.post)
            });
        };

        document.getElementById("new_post").onclick = function () {
            let postContent = document.getElementById("postContent").value;
            alert(postContent);
            let postTitle =   document.getElementById("postTitle").value;
            let gameId =      document.getElementById("gameId").value;
            let tag =         document.getElementById("tag").value;

            newPost(postContent,postTitle,tag,gameId,function (result) {
                if(result== 200)
                    alert("成功");
                else
                    alert(result);
            })
        };


    </script>

</head>

</html>