<!DOCTYPE html>
<html lang="en">
<script type="text/javascript"
        src="webjars/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="./static/js/Homepage.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h1>fuck </h1>
    <script type="text/javascript">
        //home
        homepage(function(result){
            // console.log(result);
            let games = result.banner;

            console.log(result.game[0].gameName);
            console.log(result.banner);
            console.log(result.post);
            console.log(result);
            // console.log(Object.assign({}, result), result);
        })
    </script>

</head>

</html>