body{
	/*background-image: url('https://static.dingtalk.com/media/lALPDgQ9raqJ8wrNBN7NCgA_2560_1246.png?auth_bizType=IM&auth_bizEntity=%7B%22cid%22%3A%228737273277%22%2C%22msgId%22%3A%222035153648863%22%7D&bizType=im&open_id=267544667');
	background-attachment:fixed;*/
	background-color: black;
}

.barContainer{
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    height: 65px;
    /*position: fixed;*/
}



/*Navigation Style*/
.nav-content{  
    width: 100%;
    height: 65px;
    margin: 0 auto;
    overflow: hidden;  
    position: fixed;
    z-index: 9999;
    background-color: white;
}



.nav-title span *{  
    float: left;
    width: 150px;
    height: 65px;
    margin-top: 0px;
    margin-right: 15px;
    margin-left: 15%;
}

.nav-text{  
    margin-top: 0px;
    margin: auto;
    margin-left: 2%;
}  

.nav-text span{
    float: left;  
    /*margin-right: 18px;  */
}

.nav-text span *{
    color: #5E5E5E;
    display: inline-block;
}

.nav-text span a{
    padding: 0px 17px;
    font-size: 1.5em;
    line-height: 65px;
    text-decoration: none;
}

.nav-text span.active{
    background-color: #5E5E5E;
}
.nav-text span a:hover{
    background-color: #5E5E5E;
    color: #dadada;
}

.nav-text span a:active{
    background-color: #5E5E5E;
}

.nav-text .user{
    font-size: 10px;
    float: right;
}

.nav-text .user a{
    margin-right: 20px;
}

.nav-text .user img{
    height: 50px;
    width: 50px;
    margin-top: 20px;
    margin-right: 0px !important;
}

.main-body{
    height: auto;
    width: 80%;
    margin: 0px auto;
    /*background-color: black;*/
    border-color: grey;
    border-width: 2px;
}

.division{
	height: 30px;
	width: 100%;
}

.main-body .main-content{
	
	margin:20px auto;
	width: 100%;
	max-width: 1440px;
	height: auto;
	opacity: 1; 
	border-color: grey;
    border-width: 2px;
}

.main-content .postContext{
	margin: auto;
	width: 85%;
	height: auto;
	background-color: #F5F5F5;
	overflow: hidden;
	border-radius: 0px;
	border-width: 2px;
	border-color: grey;
	max-width: 1200px;
}

.main-content .postContext .postOperate{
	width: 100%;
	height: 100%;
	margin: auto;
	padding: 5px;
	/*border-bottom-style: dashed;*/
	border-bottom-width: 2px;
	border-bottom-color: black;
	overflow: hidden;
}

.main-content .postContext .postOperate .pageConctrl{
	float: left;
	margin-left: 15px;
	color: white;
	background-color: darkred;
}

.main-content .postContext .postOperate button{
	margin: 5px 0px;
	height: auto;
	line-height: 30px;
	vertical-align:middle;
	color: black;
	border-width: 1px;
	border-radius: 10px;
	border-bottom-color: black;
	width: auto;
	/*cursor: pointer;*/
	float: left;
	outline:none;

}

/*.main-content .postContext .postOperate img{
	height: 20px;
	width: 20px;
	margin: 10px 10px;
	float: right;
	display: block;
	cursor: pointer;
	margin-right: 2px;
}*/

.main-content .postContext .postHeader{
	margin: 5px auto;
	width: 100%;
	max-width: 980px;
	background-color: #F5F5F5;
	height: auto;
	overflow: hidden;
	/*height: 40px;*/
	float: center;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	margin-bottom: 0px;
	/*border-width: 1px;
	border-style: solid;
	border-color: lightgray;*/
}

.main-content .postContext .postHeader h1{
	text-align: left;
	color: black;
}

.main-content .postContext .postMainbody{
	width: 100%;
	height: auto;
	max-width: 1200px;
	border-width: 1px;
	border-color: lightgray;
	border-style: solid;
	margin: 0px auto;
	/*margin-bottom: 20px;*/
	background-color: #F5F5F5;
	overflow: hidden;
	/*margin: 20px auto;
	width: 84%;
	height: auto;
	background-color: #F5F5F5;
	overflow: hidden;
	border-radius: 0px;
	max-width: 1200px;*/
}

.main-content .postContext .postMainbody .postAttention{
	width: 84%;
	margin: 5px;
	/*border-bottom-style: dashed;*/
	border-bottom-width: 2px;
	border-bottom-color: black;
	overflow: hidden;
}

.postContext .postMainbody .postAttention .postRe{
	float: left;
	margin-left: 15px;
	/*margin-top: 5px;*/
	color: white;
	background-color: #F5F5F5;
	border-color: white;
}

.postContext .postMainbody .postAttention .postRe button{
	margin: 5px 0px;
	height: auto;
	line-height: 30px;
	vertical-align:middle;
	color: white;
	border-width: 2px;
	border-radius: 10px;
	border-bottom-color: black;
	width: auto;
	/*cursor: pointer;*/
	float: left;
	outline:none;
}

.main-content .postContext .postMainbody .postTitle{
	width: 100%;
	height: auto;
	border-bottom-color: #F5F5F5;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	background-color: white;
}
.main-content .postContext .postMainbody .postTitle p{
	margin-left: 20px;
	padding-top: 10px;
	/*margin-top: 5px;*/
}

.main-content .postContext .postMainbody .postContext{
	width: 100%;
	height: 250px;
	border-bottom-color: lightgray;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-top-color: lightgray;
	border-top-width: 1px;
	border-top-style: solid;
	border-radius: 0px;
}

.postContext .postMainbody .postContext .postUser{
	width: 20%;
	border-bottom-color: lightgray;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-right-color: lightgray;
	border-right-width: 1px;
	border-right-style: solid;
	height: 300px;
	float: left;
}

.postContext .postMainbody .postContext .postUser img{
	width: 80px;
	height: 80px;
	margin: 5px auto;
	display: block;
	cursor: pointer;
}

.postContext .postMainbody .postContext .postUser p{
	margin: 5px auto;
	color: black;
	cursor: pointer;
	display: block;
	text-align: center;
}

.postContext .postMainbody .postContext .postText{
	padding-left:20px;
	/*margin-top:50px;*/
	width: 80%;
	border-bottom-color: lightgray;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	height: 300px;
	overflow-y: scroll;
	position:relative;
}

.postMainbody .postContext .postText .texttime{
	position:absolute; 
	right: 20px; 
	/*float: right;*/
	margin-top: 30px;
}
.main-content .postContext .postMainbody .postPager{
	width: 100%;
	height: auto;
	background-color: lightgray;
	overflow: hidden;
}

.main-content .postContext .postMainbody .postPager button{
	margin: 5px 2px;
	height: 30px;
	line-height: 30px;
	vertical-align:middle;
	background-color: black;
	color: white;
	border-width: 0px;
	border-radius: 5px;
	width: 60px;
	cursor: pointer;
	float: right;
}

.main-content .newPost{
	margin: 40px auto;
	width: 100%;
	background-color: white;
	overflow: hidden;
	border-radius: 10px;
	max-width: 1440px;
}

.main-content .newPost .listTitle{
	margin: 10px auto;
	max-width: 1080px;
	overflow: hidden;
	width: 100%;
	margin-top: 30px;
}

.main-content .newPost .listTitle img{
	display: inline-block;
	float: left;
	margin-left: 50px;
	margin-top: 10px;
	height: 24px;
	width: auto;
}

.main-content .newPost .listTitle p{
	float: left;
	color: black;
	font-size: 28px;
	margin-left: 20px;
}

.main-content .newPost .post{
	margin: 10px auto;
	max-width: 1080px;
	overflow: hidden;
	width: 100%;
}

.main-content .newPost .post .postTitle{
	width: 100%;
	max-width: 980px;
	margin: 10px auto;
}

.main-content .newPost .post .postTitle input{
	width: 78%;
	height: 40px;
	font-size: 20px;
	outline: none;
	border-style: double;
	border-width: 1px;
	text-indent: 0.5em;
}

.main-content .newPost .post .postTitle select{
	width: 20.5%;
	height: 40px;
	font-size: 20px;
	outline: none;
	border-style: double;
	border-width: 1px
}

.main-content .newPost .post .postTitle .postStyle{
	width: 100%;
	overflow: hidden;
	height: 40px;
	line-height: 20px;
	margin: 10px auto;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	background-color: lightgray;
}

.main-content .newPost .post .postTitle .postStyle img{
	float: left;
	width: 20px;
	height: 20px;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

.main-content .newPost .post .postTitle textarea{
	resize: none;
	width: 100%;
	height: 400px;
	font-size: 18px;
	text-indent: 0.5em;
}

.test{
	width: 85%;
    height: auto;
    margin: 0 16%;
}

.gitment-container {
    width: 80%;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    word-wrap: break-word;
}

.gitment-container * {
    box-sizing: border-box;
}

.gitment-container *:disabled {
    cursor: not-allowed;
}

.gitment-container a,
.gitment-container a:visited {
    cursor: pointer;
    text-decoration: none;
}

.gitment-container a:hover {
    text-decoration: underline;
}

.gitment-container .gitment-hidden {
    display: none;
}

.gitment-container .gitment-spinner-icon {
    fill: #333;

    -webkit-animation: gitment-spin 1s steps(12) infinite;
    animation: gitment-spin 1s steps(12) infinite;
}

@-webkit-keyframes gitment-spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes gitment-spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.gitment-root-container {
    margin: 19px 0;
}

.gitment-header-container {
    margin: 19px 0;
}

.gitment-header-like-btn,
.gitment-comment-like-btn {
    cursor: pointer;
}

.gitment-comment-like-btn {
    float: right;
}

.gitment-comment-like-btn.liked {
    color: #F44336;
}

.gitment-header-like-btn svg {
    vertical-align: middle;
    height: 30px;
}

.gitment-comment-like-btn svg {
    vertical-align: middle;
    height: 20px;
}

.gitment-header-like-btn.liked svg,
.gitment-comment-like-btn.liked svg {
    fill: #F44336;
}

a.gitment-header-issue-link,
a.gitment-header-issue-link:visited {
    float: right;
    line-height: 30px;
    color: #666;
}

a.gitment-header-issue-link:hover {
    color: #666;
}

.gitment-comments-loading,
.gitment-comments-error,
.gitment-comments-empty {
    text-align: center;
    margin: 50px 0;
}

.gitment-comments-list {
    list-style: none;
    padding-left: 0;
    margin: 0 0 38px;
}

.gitment-comment,
.gitment-editor-container {
    position: relative;
    min-height: 60px;
    margin: 19px 0;
}

.gitment-comment-avatar,
.gitment-editor-avatar {
    float: left;
    margin-left: -60px;
}

.gitment-comment-avatar,
.gitment-comment-avatar-img,
.gitment-comment-avatar,
.gitment-editor-avatar-img,
.gitment-editor-avatar svg {
    width: 44px;
    height: 44px;
    border-radius: 3px;
}

.gitment-editor-avatar .gitment-github-icon {
    fill: #fff;
    background-color: #333;
}

.gitment-comment-main,
.gitment-editor-main {
    position: relative;
    border: 1px solid #CFD8DC;
    border-radius: 0;
}

.gitment-editor-main::before,
.gitment-editor-main::after {
    position: absolute;
    top: 11px;
    left: -16px;
    display: block;
    width: 0;
    height: 0;
    border-style: solid solid outset;
}
.gitment-comment-main::before,
.gitment-comment-main::after {
    position: absolute;
    top: 11px;
    left: -16px;
    display: block;
    width: 0;
    height: 0;
    pointer-events: none;
    content: "";
    border-color: transparent;
    border-style: solid solid outset;
}

.gitment-editor-main::before,
.gitment-comment-main::before {
    border-width: 8px;
    border-right-color: #CFD8DC;
}

.gitment-editor-main::after,
.gitment-comment-main::after {
    margin-top: 1px;
    margin-left: 2px;
    border-width: 7px;
    border-right-color: #fff;
}

.gitment-comment-header {
    margin: 12px 15px;
    color: #666;
    background-color: #fff;
    border-radius: 3px;
}

.gitment-editor-header {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #CFD8DC;
}

a.gitment-comment-name,
a.gitment-comment-name:visited {
    font-weight: 600;
    color: #666;
}

.gitment-editor-tabs {
    margin-bottom: -1px;
    margin-left: -1px;
}

.gitment-editor-tab {
    display: inline-block;
    padding: 11px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #666;
    text-decoration: none;
    background-color: transparent;
    border-width: 0 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 0;

    white-space: nowrap;
    cursor: pointer;
    user-select: none;

    outline: none;
}

.gitment-editor-tab.gitment-selected {
    color: #333;
    background-color: #fff;
    border-color: #CFD8DC;
}

.gitment-editor-login {
    float: right;
    margin-top: -30px;
    margin-right: 15px;
}

a.gitment-footer-project-link,
a.gitment-footer-project-link:visited,
a.gitment-editor-login-link,
a.gitment-editor-login-link:visited {
    color: #2196F3;
}

a.gitment-editor-logout-link,
a.gitment-editor-logout-link:visited {
    color: #666;
}

a.gitment-editor-logout-link:hover {
    color: #2196F3;
    text-decoration: none;
}

.gitment-comment-body {
    position: relative;
    margin: 12px 15px;
    overflow: hidden;
    border-radius: 3px;
}

.gitment-comment-body-folded {
    cursor: pointer;
}

.gitment-comment-body-folded::before {
    display: block !important;
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 50px;
    pointer-events: none;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .9));
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, .9));
}

.gitment-comment-body-folded::after {
    display: block !important;
    content: "Click to Expand" !important;
    text-align: center;
    color: #666;
    position: absolute;
    width: 100%;
    height: 50px;
    line-height: 50px;
    left: 0;
    bottom: 0;
    pointer-events: none;
    background: rgba(255, 255, 255, .9);
}

.gitment-editor-body {
    margin: 0;
}

.gitment-comment-body > *:first-child,
.gitment-editor-preview > *:first-child {
    margin-top: 0 !important;
}

.gitment-comment-body > *:last-child,
.gitment-editor-preview > *:last-child {
    margin-bottom: 0 !important;
}

.gitment-editor-body textarea {
    display: block;
    width: 100%;
    min-height: 150px;
    max-height: 500px;
    padding: 16px;
    resize: vertical;

    max-width: 100%;
    margin: 0;
    font-size: 14px;
    line-height: 1.6;

    background-color: #fff;

    color: #333;
    vertical-align: middle;
    border: none;
    border-radius: 0;
    outline: none;
    box-shadow: none;

    overflow: visible;
}

.gitment-editor-body textarea:focus {
    background-color: #fff;
}

.gitment-editor-preview {
    min-height: 150px;

    padding: 16px;
    background-color: transparent;

    width: 100%;
    font-size: 14px;

    line-height: 1.5;
    word-wrap: break-word;
}

.gitment-editor-footer {
    padding: 0;
    margin-top: 10px;
}

.gitment-editor-footer::after {
    display: table;
    clear: both;
    content: "";
}

a.gitment-editor-footer-tip {
    display: inline-block;
    padding-top: 10px;
    font-size: 12px;
    color: #666;
}

a.gitment-editor-footer-tip:hover {
    color: #2196F3;
    text-decoration: none;
}

.gitment-comments-pagination {
    list-style: none;
    text-align: right;
    border-radius: 0;
    margin: -19px 0 19px 0;
}

.gitment-comments-page-item {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #CFD8DC;
    margin-left: -1px;
    padding: .25rem .5rem;
}

.gitment-comments-page-item:hover {
    background-color: #f5f5f5;
}

.gitment-comments-page-item.gitment-selected {
    background-color: #f5f5f5;
}

.gitment-editor-submit,
.gitment-comments-init-btn {
    color: #000;
    background-color: #f5f5f5;

    position: relative;
    display: inline-block;
    padding: 7px 13px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-size: 110% 110%;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.gitment-editor-submit:hover,
.gitment-comments-init-btn:hover {
    background-color: #00ACC1;
}

.gitment-comments-init-btn:disabled,
.gitment-editor-submit:disabled {
    color: rgba(255,255,255,0.75);
    background-color: #4DD0E1;
    box-shadow: none;
}

.gitment-editor-submit {
    float: right;
}

.gitment-footer-container {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: right;
    font-size: 12px;
}




 footer{
   /* padding-top:0.5%;
    padding-bottom:0.5%;
     text-align: center;   width: 100%;*/
   bottom: 0px;
    padding: 30px,0;
    background-color: #EAEAEA;
    position: relative;
    font-size: 16px;
    height: 250px;
    width: 100%;
    color: #5E5E5E;
  
}

.container {
    height: 220px;
    padding-left: 12%;
    padding-right: 30px;
    padding-bottom: 30px;
    width: 85%;
}
/*
.row {
    margin-right: -15px;
    margin-left: -15px;
}*/

.col{
    float: left;
    width: 20%;
    padding-top: 30px;
    padding-right: 15px;
    padding-left: 15px;

    /*position: relative;*/
}

.footer_title {
    margin-bottom: 15px;
    font-size: 20px;
    color: #ABABAB;
}

.footer_list{
    line-height: 2;
}
